[2013-07-31 21:30] jayden-emergence opened #3 "PropertyManager - You can set a float in an int property using manage_changeProperties"
https://github.com/zopefoundation/Zope/blob/master/src/OFS/PropertyManager.py#L203

This line has a test regarding strings but there is nothing dealing with other types.

Recreate:
Go to an objects property tab.
Create an into property on the object (say blah).
Create a Script (Python) and add into it (replace obj with the actual object of course):
obj.manage_changeProperties(blah=0.5)
Run the scr

[2014-04-02 12:02] michaelbrunnbauer opened #10 "Zope2 2.13.22 not installable"
hi all

INSTALL.rst refers to bootstrap/bootstrap.py, which is not present.

download.zope.org seems to be deprecated now (no subdirectory for current version 2.13.22).

easy_install Zope2-2.13.22.zip gives me this error when starting Zope: https://github.com/zopefoundation/zope.pagetemplate/issues/1

How am I supposed to install Zope2 2.13.22 (preferrably with easy_install)?

Regards,

Michael Br

[2014-04-02 19:06] #10 closed, assigned to nobody

[2014-07-28 18:52] runyaga opened #11 "Products/Five/browser/resource.py#L147"
And directory access with a filesystem resource which fails (e.g. path.join() to non-existent file) should return NotFound

[2014-10-28 17:10] rbu opened #12 "Should this issue tracker be used?"
The README states to report issues to Launchpad. If that is the case, please disable issue tracking on Github.

[2014-11-05 06:06] chisangad opened #14 "from zope.pagetemplate.pagetemplate import _error_start, PTRuntimeError ImportError: cannot import name _error_start"
I quiet new to Zope and I have been trying to install Zope 2.13.22 on a windows machine with Python 2.7 following the instructions; http://docs.zope.org/zope2/releases/2.13/INSTALL.html, I followed them religiously, managed to the create the virtual environment and installed Zope to the virtual environment, I then created an instance of Zope, but my trouble is each time  I try to run zope using th

[2014-11-05 13:09] #14 closed, assigned to nobody

[2014-11-13 19:36] flipmcf opened #15 "ZTUtils.Zope make_query cannot handle unicode"
The way we created this issue:

Use unicode in a search string
use PloneBatch to batch search results
Try using PloneBatch's to generate the pagnation links.

Answer:
  Module ZTUtils.Zope, line 186, in make_query
 UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-2: ordinal not in range(128)

[code]

v is unicode.

The Zope query string marshaling already defines how to inje

[2015-02-09 23:35] displacedaussie opened #16 "DB Connections are never released if an EndRequestEvent subscriber raises an exception"
We have a Plone platform with a number of ZODB mounts and recently started noticing some significant memory issues with our instances. Each of our instances currently has one zserver-thread, but for some reason multiple DB connections were being created, resulting in memory use going up and up.

Eventually we tracked it down to a bug in collective.linkcheck, which is raising an Exception during an

[2015-02-10 11:43] do3cc commented on #16
Good find!

[2015-02-10 18:00] #16 closed

[2015-02-11 10:26] d-maurer opened #20 "WebDAV PROPFIND response violates XML-Namespace"
Zope2 2.13.19

Issuing a WebDAV "PROPFIND" againt a Plone "Folder", I got a response
violationg XML-Namespace:

[code]

The namespace prefix inside the second "propstat" is not defined.

[2015-02-11 10:30] d-maurer opened #21 "WebDAV: bad charset handling in "PROPPATCH""
Zope2 2.13.10

I send the following "PROPPATCH" command to a Plone object (which uses
"utf-8" as charset for its properties):

[code]
In "webdav.xmltools.Node.strval" the incoming property value
u"kälander.xml" in encoded in a so called "zope_encoding", defined as
"latin-1". At least for properties of Plone objects, this is the wrong
encoding.

[2015-02-11 13:08] tseaver commented on #20
Which prefix?  `d:` is defined on the root element, and `n:` on the `<d:proptstat>`.  The fact that both have the same URI (`DAV:`) doesn't violate anything about XML namespaces.

[2015-02-11 14:24] #12 closed

[2015-02-11 14:26] tseaver commented on #3
I'd be willing to review a PR which addressed this issue, but likely won't do that myself.

[2015-02-11 14:40] tseaver commented on #11
`DirectoryResource.get()` [raises a KeyError](https://github.com/zopefoundation/Zope/blob/66ecc1ac2ad493fcdb9abd70aaad9789e0e1808c/src/Products/Five/browser/resource.py#L155), which gets mapped onto a 404 in the publisher.

[2015-02-11 14:40] #11 closed

[2015-02-11 14:41] tseaver commented on #11
And there is a [functest which shows that](https://github.com/zopefoundation/Zope/blob/66ecc1ac2ad493fcdb9abd70aaad9789e0e1808c/src/Products/Five/browser/tests/resource_ftest.txt#L138).

[2015-02-11 14:42] tseaver commented on #20
FWIW, I just ran your example (without the ellipses) through `xmllint`:  it didn't complain / warn about any problems.

[2015-02-11 14:42] #20 closed

[2015-02-11 15:04] tseaver commented on #21
The [`xmltools` code on the 2.13 branch](https://github.com/zopefoundation/Zope/blob/593c97450ae0051257cbd1de84d5e15afad2660d/src/webdav/xmltools.py#L64) uses `latin-1` in order to stay compatible with the [`OFS.PropertySheets` implementation](https://github.com/zopefoundation/Zope/blob/593c97450ae0051257cbd1de84d5e15afad2660d/src/OFS/PropertySheets.py#L789).

The `master` branch uses `utf-8` inst

[2015-02-11 17:23] d-maurer commented on #20
You are right. I missed the `xmlns:n="DAV:"` -- likely, I expected something larger (refering to DubinCore).

[2015-02-17 16:48] #21 closed

[2015-03-17 04:02] macagua commented on #14
Hi @tseaver

I try your solution with python 2.7 for Plone 4

[code]

Then I check the installation like:

[code]

I trying to rerun my zeo client like:

[code]

Any idea?

[2015-03-17 13:17] tseaver commented on #14
`zope.pagetemplate 4.0.4` was probably already installed. You need to remove the 'zope.pagetemplate-4.0.4.egg` from `site-packages` and re-run the `easy_install` command.

[2015-03-17 16:47] macagua commented on #14
@tseaver it was fixed as you said me, now running my Zeo client, thanks!

[2015-04-15 08:11] gforcada opened #25 "HEAD requests raise AttributeError on browser views"
I keep seeing on our server logs errors like the following:

    Traceback (innermost last):
      Module ZPublisher.Publish, line 127, in publish
      Module ZPublisher.BaseRequest, line 384, in traverse
    AttributeError: @@RSS

And indeed, a request like `curl -I https://www.freitag.de/@@RSS` gives an error (modulo when Varnish caches something).

The problem seems to be that ZPublisher.BaseR

[2015-06-14 07:16] yuseitahara opened #26 "zope.testbrowser and test failures."
I chaged the version of zope.testbrowser version to 4.0.4 and broke many tests. I will investigate reason.

[2015-06-18 19:12] tomgross opened #30 "WSGI deployment documentation"
Recently Zope WSGI publishing seems to get some love. Is there any documentation around how to setup a Zope with WSGI? Are there any best practises or example configuration?

[2015-06-18 19:55] tseaver commented on #30
Funny you should ask... I'm actually working on a document now, with sample configuration files.

[2015-06-18 20:04] idgserpro opened #31 "http://collector.zope.org/Zope gives Forbidden"
Is http://collector.zope.org/Zope dead or just with a wrong configuration? I tried http://dev.zope.org/Wikis/ as well but no luck.

[2015-06-18 20:11] idgserpro commented on #12
Isn't the case to update http://docs.zope.org/developer/bug-trackers.html and related as well?

[2015-06-22 14:07] tomgross commented on #30
Fixed

[2015-06-24 19:25] tseaver commented on #26
Thanks for the report!  The `master` branch should use the latest `zope.testbrowser`, but the `2.13` branch needs to stay pinned to the `3.11.x` release line of `zope.testbrowser` (we try to be conservative about "feature" changes on that branch).

[2015-06-24 19:26] tseaver commented on #30
Via #32

[2015-06-24 19:26] #30 closed

[2015-06-24 19:27] tseaver commented on #31
The `collector` host is long dead:  the current "legacy" tracker is on Launchpad:  https://bugs.launchpad.net/zope2/.

[2015-06-24 19:27] #31 closed

[2015-11-08 19:03] tomgross opened #36 "Circular dependency Zope and Products.OFSP"
The two packages Zope and Products.OFSP depend on each other in setup.py

[2015-11-08 19:11] tomgross commented on #36
Can it be remove from Zope? It is only used (installed?) in ZopeTestCase. Probably having it in buildout.cfg is sufficient.

[2015-11-08 19:13] tomgross opened #37 "Circular dependency Zope and Products.ZCTextIndex"
The two packages Zope and Products.ZCTextIndex depend on each other in setup.py

[2015-11-08 19:21] tomgross opened #38 "Circular dependency Zope and Products.ZCatalog"
The two packages Zope and Products.ZCatalog depend on each other in setup.py

[2015-11-08 19:33] tomgross opened #39 "Python 3 compatibility"
According to caniusepython3 the following packages need some love to get Python 3 support:
- [x] [zExceptions](https://github.com/zopefoundation/zExceptions)
- [x] [initgroups](https://github.com/zopefoundation/initgroups) -> only one C-File with no tests. Compiles using Python 3.5
- [x] [MultiMapping](https://github.com/zopefoundation/MultiMapping) -> Python 3 support in master, needs a release
-

[2015-11-08 19:36] tomgross opened #40 "Remove DTML and replace with ZPT"
Remove DTML and replace with ZPT or even  in Zope 4.

[2015-11-09 13:23] tseaver commented on #39
I updated the list with correct capitalizations and links.

[2015-11-09 13:30] tseaver commented on #36
[Products.OFSP](https://github.com/zopefoundation/Products.OFSP) exists to make the "core" objects ZMI addable, and to register images / online help for them:

- DTMLDocument
- DTMLMethod
- Image
- File
- Folder
- OrderedFolder
- UserFolder

It is properly a dependency of Zope-the-application-server, but not of Zope-the-libraries.

[2015-11-09 14:02] tseaver commented on #38
I believe the dependency in Zope is because:

- Zope [imports from `Products.ZCatalog.Lazy`](https://github.com/zopefoundation/Zope/blob/master/src/ZTUtils/Zope.py#L22):  I think the only correct fix is to move that module wholesale into `ZTUtils`, and leave behind a backward-compatibility shim in `Products.ZCatalog`.
- Zope still handles ]registering the "deprecated add/delete" handling on behalf

[2015-11-09 14:03] tseaver commented on #37
The dependency on `Products.ZCTextIndex` looks purely spurious:

[code]

[2015-11-09 15:26] tseaver opened #41 "Drop dependency on 'Products.SiteErrorlog'"
The only direct import is [conditional](https://github.com/zopefoundation/Zope/blob/master/src/Testing/ZopeTestCase/utils.py#L69-L78).

Zope still handles [registering the "deprecated add/delete" handling on behalf of the `SiteErrorLog` class](https://github.com/zopefoundation/Zope/blob/master/src/OFS/deprecated.zcml#L18-L19). The fix would be to move that handling into `Products.SiteErrorLog:conf

[2015-11-10 04:03] leorochael commented on #36
I'd suggest moving the OFS packages from Zope into `Products.OFSP` to break the cycle.

[2015-11-10 04:13] tseaver commented on #36
Can't happen:  too many third-party products expect to import things from `OFS`.  Nobody expects that code to live in a product.  `Products.OFSP` is *only* about registering stuff for the ZMI, not about the underlying Python implementations.

We could maybe break the cycle by making `Products.OFSP` an `extras_require` dependency, e.g.:

[code]

But we'd then have to tell people to install `Zope2[a

[2015-11-10 04:38] leorochael commented on #36
Or maybe pull a ZODB 4 and have Zope2 be the package that is the appserver that depends on Zope the library, Products.OFSP (containing OFS), etc.,

I have a dream where we actually turn ZServer into a wsgi server capable of serving FTP, mapping it to WebDAV commands (besides HTTP, obviously), and Zope contains ZPublisher (and the Request/Response classes). Zope2 would pull them together.

[2015-11-13 04:46] djay opened #42 "zexp imports can raise unnecessary exceptions"
# User problem

Import a zexp and get an exception originating in an objectEventNotify subscriber.
# history

zexp calls the copy event handlers for every single object. This is both slow and error prone and in a lot of cases doesn't make sense. Sometimes problems are caused because the order the events are called is not expected by the code.
# options
1. Have a tickbox that allows the user to opt

[2015-11-13 05:02] davisagli commented on #42
Those events are how the imported objects end up in the catalog.

[2015-11-13 05:47] djay commented on #42
But we are importing the catalog too. A plone site in ine go for instance.
Often in the same path. So its unnecessary in some cases.
And in others it prevents import completely.
I think the tickbox to suppress the events with a warning perhaps, is the
best idea I can think of.

On Fri, 13 Nov 2015 12:02 pm David Glick <notifications@github.com> wrote:

[2015-11-13 05:49] davisagli commented on #42
I do a zexp import of a single folder in a site more frequently than I import an entire site. I agree a checkbox to suppress the events, accompanied by an explanation of the tradeoff, would be useful.

[2015-12-23 15:55] ichim-david opened #43 "Plone 4.3.7 fails to start if a zoperunner is configured"
Due to this commit https://github.com/zopefoundation/Zope/commit/08b0e954631f3c3b23ecbc4c6e8a52338fae88da
if I have a runner configured such as:
<pre>
zope-conf-additional =
  <zoperunner>
      socket-name ${buildout:directory}/var/zopectlsock-${:_buildout_section_name_}
     </zoperunner>
</pre>

Then if I attempt to start Plone I get the following error:
<pre>
eggs/zdaemon-2.0.7-py2.7.egg/zdaem

[2016-02-01 07:21] stephan-hof opened #44 "IUnboundStreamIterator does not work"
In one if the recent Zope2 version IUnboundStreamIterator was introduced.
Unfortunately it is not fully working when the WSGIPublisher is used. In the WSGIPublisher there is still this line.

[code]

However when body is IUnboundStreamIterator, the check is always 'False'.
So I would change this line to the following code:
[code]

The class hirachy is like this:
IUnboundIt -> IStreamIt
so the chec

[2016-02-01 09:30] gweis commented on #44
You mean this line?
https://github.com/zopefoundation/Zope/blob/2.13/src/ZPublisher/WSGIPublisher.py#L285

That probably makes sense, yes.

[2016-02-01 10:00] stephan-hof commented on #44
Yes, I mean this line (sorry for not posting it).
We did this change and now streaming works also with wsgi (using mod_wsgi and apache).

[2016-02-01 16:54] mauritsvanrees opened #46 "ipv6 tests fail on Travis"
Zope job 102 from three months ago ran on the legacy Travis structure and passed fine:
https://travis-ci.org/zopefoundation/Zope/jobs/90092264

Two builds from the past few days have this message in Travis: "This job ran on our new platform for Precise builds. Please read [our blog post](https://blog.travis-ci.com/2015-11-27-moving-to-a-more-elastic-future) for more information." Follow the link a

[2016-02-03 02:37] gweis commented on #44
I'll try to add a failing test case, and fix for this issue in the next few days.

[2016-02-29 17:00] mauritsvanrees commented on #46
The related pull request was merged a month ago.

[2016-02-29 17:00] #46 closed

[2016-02-29 17:01] #44 closed

[2016-02-29 17:34] tseaver commented on #43
Via #48.

[2016-02-29 17:34] #43 closed

[2016-05-10 06:48] jan-jockusch opened #56 "Zope Crashes with Segmentation Fault (Zope 2.13.22-24, Python 2.7.11)"
I am attempting to roll out a new Zope on Ubuntu 16.04 LTS by performing a virtualenv installation from scratch. I create an instance with "mkzopeinstance", setting the user and password to "admin".

The following test leads to a segmentation fault after only 10 iterations:

`#!/bin/bash
set -e

urls="
http://admin:admin@localhost:8080/Control_Panel/manage_main
http://admin:admin@localhost:8080/Co

[2016-05-10 07:29] do3cc commented on #56
There is also a discussion going on on community.plone.org:
https://community.plone.org/t/ubuntu-16-04-zope-instance-terminated-by-sigsegv-core-dumped/2059/24
I believe this here is the more appropriate location.
So I copy my analysis from there to here:

I now managed to get it crashing too.
I tried some tricks to get a coredump, without luck. I then ran strace -f to see what happens before the c

[2016-05-10 07:42] jan-jockusch commented on #56
Thank you for bringing this to my attention!

The last confirmed error-free python version is 2.7.9, if I understand correctly. My next attempt will be to perform identical Zope buildouts with different python versions. I'll report back here.

[2016-05-10 07:45] do3cc commented on #56
The Python 2.7.11 you get with ubuntu is probably not stock python 2.7.11 and the changes may wery well be the culprit of the problem. So if you don't mind, also try this with a stock Python 2.7.11

[2016-05-10 10:11] jan-jockusch commented on #56
Acknowledged.

[2016-05-10 12:42] hvelarde commented on #56
in fact is not the same version: in Ubuntu 16.04 you get installed Python 2.7.11+ and some people reported, in the thread mentioned above, that compiling Python 2.7.11 from source resulted in a perfectly working environment.

[2016-05-10 14:07] mschmidt42 commented on #56
Python 2.7.11 from source works fine. To create a virtual environment do
[code]
and use it
[code]

[2016-05-10 14:11] jan-jockusch commented on #56
Confirm that. Python2.7.11 from python.org has no issues.

So, in fact, this looks like a bug for the Ubuntu maintainer... But he/she will want more details.

Therefore, I will still carry on testing with Zope buildouts, but I consider the issue closed as far as Zope is concerned, if you all agree.

[2016-05-10 14:24] hvelarde commented on #56
I agree but, please, somebody has to open a bug report somewhere else before.

[2016-05-10 14:24] do3cc commented on #56
and link it to here ;-)

[2016-05-10 14:24] do3cc commented on #56
er, both ways. Linking to upstream bug report too

[2016-05-10 14:45] tseaver commented on #56
Use the [tracker for the Ubuntu `python2.7` package](https://bugs.launchpad.net/ubuntu/+source/python2.7).

[2016-05-11 12:32] Netroxen commented on #56
@mschmidt42 I tried out your steps but my instances still terminate unexpectedly. I also do not have a .localpython/Python-2.7.11/ file so not sure where you're getting that from.

[2016-05-11 12:35] gogobd opened #57 "Security tab permission / role matrix security issue"
There's a security issue hidden in the "Security" tab of zope. Administrators change permissions by selecting checkboxes in the permission / role matrix. The underlying form uses column and row numbers in its request. If somebody manages to change the number of available permissions while the administrator has not yet saved the changes there's a problem: permissions would not match up any more.
I'

[2016-05-11 12:36] jan-jockusch commented on #56
Bug report submitted at LaunchPad:

https://bugs.launchpad.net/ubuntu/+source/python2.7/+bug/1580577

[2016-05-11 12:44] jan-jockusch commented on #56
Here's the program I wrote to enable anyone to recreate the problem...

[testing_script.sh.zip](https://github.com/zopefoundation/Zope/files/259280/testing_script.sh.zip)

[2016-05-11 15:08] mschmidt42 commented on #56
@Netroxen: .localpython is a folder in your home folder (e.g. /home/yourhome/.localpython) created by 'mkdir ~/.localpython' . '--prefix="$HOME/.localpython"' will install python from source to '/home/yourhome/.localpython' . After 'make install' python 2.7.11 should be here. 'myfolder' is the folder for plone buildout. Don't forget the dot at the end of

`virtualenv -p /home/<user>/.localpython/P

[2016-05-11 15:12] do3cc commented on #56
Btw, so far only two people clicked on "This bug affects me" on the issue tracker from launchpad.
This feature helps to tell the maintainer, that the issue is affecting more than just two people

[2016-05-11 15:22] mschmidt42 commented on #56
Tree

[2016-05-11 18:34] tseaver commented on #56
Not a Zope issue:  please take all discussion to Launchpad.

[2016-05-11 18:34] #56 closed

[2016-05-11 19:23] doko42 commented on #56
please report this upstream, or else you'll see that in 2.7.12 upstream.

[2016-06-09 07:21] jan-jockusch commented on #56
In Ubuntu, this bug is confirmed to be fixed in version 2.7.11-11 (as opposed to version 2.7.11-7ubuntu1). This update is not yet in the LTS distribution.

[2016-06-09 16:20] hvelarde commented on #56
@jan-jockusch but… it will be?

[2016-07-01 08:54] icemac commented on #39
Updated the list with three dependencies that where missing.

[2016-07-21 12:08] hannosch commented on #57
Both PR's have been merged, so I think this is done. Please re-open if I misunderstood.

[2016-07-21 12:08] #57 closed

[2016-07-21 12:14] hannosch commented on #26
I updated master to zope.testbrowser 4.0.4 in 6e5e91fa41a2158b597389d27b3506eb04378bc9. The testbrowser 4.0 release moved the mechanize based testbrowser into zope.app.testing, which we don't depend on, so it wasn't available. I "fixed" this by copying the relevant code into our Testing package. We did override a bunch of it already, so this is actually a bit clearer.

[2016-07-21 12:14] #26 closed

[2016-07-21 12:22] hannosch commented on #39
initgroups turned out to be available in Python's os module in Python 2.7, so I dropped the dependency and made a new initgroups release that is merely a shim for the `os.initgroups`.

For nt_svcutils, I removed the code from zopectl that used this. This was only needed to install and manage a Windows system service. For daemonizing someone can use supervisor or any other tool that provides that.

[2016-07-21 22:24] hannosch opened #64 "Document WSGI deployment"
I've tried to update and document a WSGI deployment with modern versions of the stack, but failed so far.

I've added a new runwsgi script (basic copy of Pyramid's pserve, to avoid PasteScript) in 72ae9a1bed26db928e7f74fa063c8de15a755544. I also updated the default mkzopeinstance skeleton to create WSGI config files by default (9ac28c1778ba6dc5b046f187a44435c92b8d6790).

So in a buildout checkout

[2016-07-22 15:33] hannosch commented on #64
repoze.tm2 2.0b1 and later have a problem and don't work for us. They fail with the `app must call start_response before returning` assertion error. This is likely related to the changes from expecting a list to a generator (repoze/repoze.tm2#1 and repoze/repoze.tm2#3). Sticking to repoze.tm2 1.0 works for now.

Otherwise I managed to use waitress instead of the paste#http server. According to PEP

[2016-07-22 15:59] goschtl commented on #64
He Hanno,

do you had a look to infrae.wsgi. IIRC it works without major problems in some old projects?

Christian

[2016-07-22 18:26] hannosch commented on #64
@goschtl thx for the reminder. I didn't remember infrae.wsgi anymore. It looks like that project is no longer maintained though.

repoze.retry and tm2 have seen recent activity and maintenance and the WSGIPublisher code in Zope2 required those. So I was hoping these were good enough and still worked today.

I've now gone ahead and at least made repoze.tm2 optional, by integrating the transaction b

[2016-07-22 20:38] #37 closed

[2016-07-22 20:38] #38 closed

[2016-07-22 20:38] #41 closed

[2016-07-22 20:44] hannosch commented on #36
When I split out Products.OFSP, I had a similar idea of eventually moving OFS into the same project (maintaining it's module/package name).

The problem is that OFS depends on things in App and App depends on things in OFS, and the same in other places. These circular dependencies where too many for me to go ahead and try to break out OFS.

Since then I removed HelpSys, which removed 90% of the co

[2016-07-23 12:14] #36 closed

[2016-07-23 12:22] hannosch commented on #39
I merged the code from Products.OFSP got back into Zope2, as there wasn't much left there. So it'll be done as part of Zope2 itself.

[2016-07-24 18:20] hannosch commented on #39
I've also started to try and break out ZServer and make it an optional dependency. I think it should be possible to create a new ZServer distribution and move the ZServer, Lifetime and webdav packages into it. That new distribution should depend on Zope2, but not the other way around. There's still quite some work to do for that, but it should be possible. With that split, we could make Zope2 Pyth

[2016-07-25 20:07] leorochael commented on #64
@hannosch, From my work on [LongRequestLogger](https://github.com/zopefoundation/Products.LongRequestLogger) and [ZServerViews](https://pypi.python.org/pypi/Products.ZServerViews), two things became clear:

 - 1. As you realized, the previous work to WSGIfy Zope was enamoured with the ideas of middleware and tried to split parts of the request handling of Zope2 into their respective middlewares.

[2016-07-25 20:10] leorochael commented on #39
It should be possible to cut out ZServer from Zope2 without making ZServer depend on Zope2 at all, by moving all the parts that import from ZPublisher into ZPublisher itself, turning ZPublisher into a pure WSGI app and turning ZServer into a pure WSGI HTTP Server.

I expand on this subject [here](https://github.com/zopefoundation/Zope/issues/64#issuecomment-235068494).

[2016-07-29 02:31] mn3711698 opened #65 "installed manually zope"
Hello, I am from China. I saw Zope with zc.buildout Installing. Because of the network line problem, I can not be installed through the network, can only be installed manually. After installation, did not download the file package.

Now, I don't have ‘bin/buildout’ in the directory. And there is no ‘bin/mkzopeinstancein’ this directory。There is no way to solve this? Can provide manual installation

[2016-07-29 03:51] djay commented on #65
I don't know the state of current zope installers but probably the most robust way would be to use a Plone installer - https://plone.org/download which are well documented and tested. They install a buildout so you can always remove the plone stuff, even in offline buildout mode if you wanted a pure zope install.

[2016-08-01 09:07] icemac commented on #64
I gave a workshop back in 2011 describing how to run Zope using WSGI: https://icemac15.files.wordpress.com/2011/10/zope_2_as_wsgi_application.pdf
That's (mostly (?)) they way we run union.cms nowadays.

[2016-08-09 03:08] hvelarde commented on #56
Ubuntu 16.04 is out: https://insights.ubuntu.com/2016/07/28/ubuntu-version-16-04-point-1-is-out/

[2016-09-06 13:28] hannosch commented on #64
I have made a good bunch of progress on this, and we now have a wsgi publisher in Zope 4, which has transaction and retry logic baked in again. It also supports exception views and the full range of pubevents. It does not support exception handling based on persistent objects like error_log or standard_error_message.

This currently replaces the WSGIPublisher we had in Zope 2.13 so support for a r

[2016-09-06 13:28] #64 closed

[2016-09-06 13:55] hannosch commented on #25
I think there is no easy solution to this for Zope 2.13. For Zope 4 I "fixed" this by separating out the old webdav capable publisher from the WSGI publisher. If you run Zope 4 using the WSGI publisher, webdav and FTP logic including the bit in BaseRequest get disabled, and a HEAD request on a view succeeds.

[2016-09-06 13:55] #25 closed

[2016-09-06 14:08] #65 closed

[2016-09-08 00:31] mauritsvanrees opened #69 "OFS.ObjectManager.__contains__ optimisation conflicts with catalog"
I am trying this on the Plone 5.0 development buildout. It is using Zope2 2.13.24. Instead I checked out Zope2 branch 2.13 and this resulted in a few failures on our Jenkins test server: http://jenkins.plone.org/job/plone-5.0-python-2.7/4932/
I focused on the plone.app.folder one:
http://jenkins.plone.org/job/plone-5.0-python-2.7/4932/testReport/junit/plone.app.folder.tests.test_integration/Folder

[2016-09-08 06:04] hannosch commented on #69
Looks like ``ZCatalog.Indexes`` is a ZCatalogIndexes class, which has a custom objectIds function:

https://github.com/zopefoundation/Products.ZCatalog/blob/master/src/Products/ZCatalog/ZCatalogIndexes.py#L79

That function overwrites objectIds and doesn't look into _objects, but a different place. The PR takes away the objectIds indirection and thus breaks this kind of use-case.

I'd be inclined

[2016-09-08 06:54] tseaver commented on #69
@hannosch SGTM

[2016-09-08 18:10] malthe commented on #69
Inheritance in OOP is just wrong :-)

[2016-09-09 09:08] hannosch commented on #69
The optimization is undone on the 2.13 branch. For 4.0 I've updated the ZCatalogIndexes class to also implement `__contains__`. Grepping through the other Zope projects, I didn't find any more classes which only overrode objectIds, without also overriding contains.

[2016-09-09 09:08] #69 closed

[2016-09-09 10:26] mauritsvanrees commented on #69
Grepping through Plone 5.0 I see the following that are affected, so having `objectIds` but not `__contains__`:
- `Products/DCWorkflow/ContainerTab.py`
- `Products/PortalTransforms/chain.py`
- `Products/ZopeVersionControl/ZopeRepository.py`

@thet Is that maybe solved already in your branches for getting Plone to run on Zope 4?

[2016-09-09 10:59] hannosch opened #71 "Remove sourcecodegen dependency"
For Zope 4 the code from five.pt got integrated directly into Products.PageTemplates.

As part of this a new dependency on sourcecodegen got added. This is only used in `Products.PageTemplates.expression.UntrustedPythonExpr.parse` (https://github.com/zopefoundation/Zope/blob/master/src/Products/PageTemplates/expression.py#L173).

That method also uses `from compiler import parse as ast24_parse`.

[2016-09-09 11:14] malthe commented on #71
I don't recall why this function is being imported as ``ast24_parse`` and not just ``parse`` (its real name), but we can't get rid of the ``sourcecodegen`` module. It generates code!

That is, it prints out Python code given an AST.

[2016-09-09 11:17] hannosch commented on #71
Mmh, the description from https://github.com/malthe/sourcecodegen reads: "Python (legacy, 2.4 and below) AST source code generation library".

I thought this was the code used in Python 2.5 and earlier. And with the new AST module in Python 2.6 you used a different approach.

[2016-09-12 06:59] stephan-hof commented on #71
I think the root cause is RestrictedPython using the 'compiler' package.
Restricted Python uses the AST generated by the 'compiler' package, which is not compatible with the AST of the 'ast' package. As far as I can see PageTemplates and Chameleon are using the 'ast' package.

So to use RestrictedPython in PageTemplates the parse method needs to
* create a AST from the 'compiler' package => 'compi

[2016-09-12 07:13] malthe commented on #71
@hannosch I think perhaps you're right. I just took a look at the Chameleon codebase and it has a code generator, too.

[2016-09-12 07:14] malthe commented on #71
@stephan-hof good findings. I guess we can revisit once RestrictedPython has been ported?

[2016-09-12 08:37] hannosch commented on #71
Ah, that makes sense. @loechel and @icemac have begun porting RestrictedPython over to the new ast module at https://github.com/zopefoundation/RestrictedPython/tree/Python3_update - so this is making progress.

[2016-09-23 22:40] hannosch commented on #40
I've rewritten DocumentTemplate in pure Python, which should make it considerably easier to port to Python 3 - once its dependencies are ported that is.

I think that's actually less work overall, rather than trying to rewrite all the arcane DTML documents into ZPT and preserving the functionality of them. I'm hoping we can remove lots of those DTML documents when we remove more and more of the ZM

[2016-09-23 22:40] #40 closed

[2016-09-23 22:42] leorochael commented on #40
Many dtml snippets in the code can be usefully replaced by python methods returning the equivalent interpolated strings.

[2016-09-26 08:38] icemac opened #73 "Make RestrictedPython optional"
In the first step this should be a proof of concept for a Zope without RestrictedPython.

* TTW code should raise an exception when called without RestrictedPython available
* File system code should use the normal Python (aka without restrictions)
* Implement an actual example e. g. in AccessControl and Products.PythonScripts

[2016-09-29 06:01] Rudd-O opened #74 "WebDAV support"
Zope2 2.x used to have WebDAV support.  Zope2 4.x ships by default with waitress instead, and that only does plain HTTP.

What are my options if I want to use Zope2 4.x to copy files to / from the Zope application running on my server?

Thanks.

[2016-09-29 06:04] Rudd-O opened #75 "Enhance docs to explain how to create a Zope2 app"
The docs at readthedocs.io basically only mention how to get Zope2 to work, but nothing else.

They do not mention what to learn / know / how to write an egg that I can load in Zope2 and have it work, say, as an addable content type, or as a view registration, or as a traversal adapter, and so on, and so forth.

I propose that the documentation gain that information, or pointers to where that info

[2016-09-29 06:45] Rudd-O opened #76 "Zope2 4.x does not provide XML-RPC folder listings"
I create a BTreeFolder2 named "folder".  Then I do this:

[code]

This happens:

[code]

This used to work.  What happened?

[2016-09-29 06:46] Rudd-O commented on #76
For the record, I can tell that the `objectIds()` method exists and that it is declared with proper permissions (the opposite of which would not explain why it returns 404).

[2016-09-29 06:55] Rudd-O commented on #76
There doesn't appear to be other methods that work to get the listing.  This one "works" (fails as anonymous):

[code]

[2016-09-29 07:02] icemac commented on #74
@hannosch Do you have any suggestions?

[2016-09-29 07:09] Rudd-O commented on #74
For the record, I can see that at least `DTMLDocument` supports `webdav.Resource`, I just don't know if that's the case for `OFS.File`.

...or whether `OFS.File` supports blob storage!

[2016-09-29 08:44] hannosch commented on #74
@Rudd-O For Zope 4 you can install the additional optional ZServer package and keep running Zope with ZServer and webdav support enabled.

Your other choice is to implement custom logic in your application to handle your needs.

[2016-09-29 08:44] #74 closed

[2016-09-29 08:46] hannosch commented on #76
@Rudd-O If you want xmlrpc support, you need to install the ZServer package and keep running Zope using ZServer.

[2016-09-29 08:46] #76 closed

[2016-09-29 10:15] Rudd-O commented on #76
Understood.  Thanks.  How does Zope2 4.x integrate extra packages like
ZServer?  I only see a WSGI running option.

--
    Rudd-O
    http://rudd-o.com/

[2016-09-29 11:05] Rudd-O commented on #74
It'd be nice if this was documented somewhere, as in "How to configure Zope 4 with ZServer WebDAV support".  On another note: dropping the feature by default is quite sad since I used this very feature for many years.

[2016-09-30 18:23] Rudd-O commented on #76
Wait, XML-RPC DID work for some methods!  With WSGI!

[2016-10-04 09:21] dwt commented on #39
I propose linking the respective tracking bugs for python3 compatibility in each project instead of just the projects. Anybody against this?

[2016-10-19 10:53] icemac commented on #73
It does not seem to be possible to drop the dependency on RestrictedPython: It is too deeply woven into Zope 2. So the only way is to port RestrictedPython to Python 3.

[2016-10-19 10:53] #73 closed

[2016-10-21 10:58] icemac commented on #39
@dwt +1

[2016-11-18 22:59] flipmcf commented on #15
I'm reworking this from scratch because the last pull request got out of hand.
branch issue15 created and can be pulled in independently from master

[2016-12-01 08:52] icemac opened #79 "Not compatible with transaction > 2.0"
Transaction notes are strings instead of unicode which is required by `transaction 2.0.3`. Thus Zope2 cannot be used together with ZODB 5.x.

Example of a traceback see https://builds.whq.gocept.com/job/gocept.httpserverlayer/122/testReport/junit/src.gocept.httpserverlayer.plonetestingz2.tests.zope2.test_zope2/Zope2Tests/test_each_request_gets_a_separate_zodb_connection/

[2016-12-01 14:49] leorochael commented on #79
Considering the main use of the transaction note on Zope 2 is for the management screens, I think the note value should be encoded according to the management_page_charset to obtain a unicode string.

[2016-12-01 21:21] thet opened #80 "Need Hanno to come to Alpine City Sprint"
@hannosch we might not have your a valid e-mail address - the organizers of the Alpine City Sprint 2017 want to invite you to the sprint, which covers roughly the topics Zope 4, Plone on Python 3 + Zope 4, Plone Core Dev.
See: http://www.coactivate.org/projects/alpinecitysprint2017/project-home

About further details it's best to talk via email.

/cc @jensens

[2016-12-01 21:24] hannosch commented on #80
@thet @jensens contacted me via email, so he has my current one. I just haven't gotten around to answering yet.

[2016-12-01 21:24] #80 closed

[2016-12-01 21:24] thet commented on #80
OK, tnx!

[2017-01-04 12:43] zopyx opened #85 "RestrictedDTMLMixin.__new__(Rtd) is not safe, use TemplateDict.__new__()"
I am currently porting a Zope 2.7 application to Zope 2.13.

I receive the following error while rendering some persistent ZPTs... how to deal with that?

[code]

[2017-01-22 14:42] hannosch commented on #39
As a current status, we have a couple of issues / branches / PR's in progress and some of those can be worked on in parallel:

- zopefoundation/RestrictedPython#12 (highest priority, as this is blocking/hindering progress on others)
- zopefoundation/AccessControl#21 (blocked in parts on RestrictedPython, but more progress might be possible, C extension port has started, but more progress can be ma

[2017-01-22 15:54] Daetalus commented on #39
Hi @hannosch

Just FYI, I try to let [Pyston](https://github.com/dropbox/pyston) support Zope. But they didn't support the `compiler` package, which used by RestrictedPython. After some investigation. I try to use `ast` to replace `compiler` in RestrictedPython.

I start it by reading the source code of RestrictedPython. And then compare the ast before and after the `MutatingWalker`. Then use `ast

[2017-01-22 16:10] hannosch commented on #39
@Daetalus Can you put this pointer into the RestrictedPython issue at zopefoundation/RestrictedPython#12. There's a group of people who have been working on a branch there for the past 12 months using the same approach you took.

[2017-02-03 13:53] davisagli opened #97 "KeyError: bobobase_modification_time"
Adding and running a Script (Python) on Zope master results in this traceback:

[code]

bobobase_modification_time was removed (it was monkeypatched onto `Persistent` in a weird way) so probably DocumentTemplate needs to be adjusted to not use it.

[2017-02-03 14:22] hannosch commented on #97
This is probably in the `Products.PythonScripts` project in `pyScriptEdit.dtml`.

[2017-02-04 20:44] pbauer opened #99 "Form-value gets turned into a request-record instead of a dict"
Form-value gets turned into a request-record instead of a dict

A doctest with a item

    <input type="checkbox" value="1" name="index.enabled:records" id="created_enabled" checked="checked" />

fails in Zope 4 since index is transformed to a ZPublisher.HTTPRequest.record instance.

In the button-handler the value is gotten from the rest and checked for some value:

    data = REQUEST.get('index'

[2017-02-05 14:10] hannosch commented on #97
I've fixed the edit template and could add and edit a Python script in the ZMI. @davisagli could you have a look and verify that this fixes all the issues you had?

I'll cut a new Products.PythonScripts release afterwards.

[2017-02-05 19:20] davisagli commented on #97
Yes, that solves the problem we were seeing. Thanks!

[2017-02-09 11:20] michaelbrunnbauer opened #101 "Zope2 dir missing at http://download.zope.org/Zope2/index/2.13.25/"
hi

can someone fix that so that:

 ./bin/easy_install --index-url=http://download.zope.org/Zope2/index/2.13.25/ Zope2

works?

Regards,

Michael Brunnbauer

[2017-02-09 12:14] icemac commented on #79
@pbauer I think you worked on this issue on the sprint is this correct? On which branch did you work?

[2017-02-09 12:42] pbauer commented on #79
This is adressed in the plonezope4. The commits are https://github.com/zopefoundation/Zope/commit/924ae93d50a12034653f95597756c919de4a359e and https://github.com/zopefoundation/Zope/commit/e8a1b47702fb02cbcf55167d3a8ed99ca0955485

[2017-02-11 02:17] davisagli opened #102 "Zope 4 WSGIPublisher: exception views are rendered outside of pubevents"
Currently the WSGIPublisher first publishes the request running within the transaction_pubevents context manager, then catches any exception and tries to render an exception view. This makes for some regressions compared to how exception views used to work:
1. The PubBeforeAbort event is not called after the exception view produces a response. (This is one place where plone.transformchain hooks in

[2017-02-11 02:30] davisagli commented on #102
Rather than adding exception view rendering into `publish`, I propose that we move the `except` block of `_publish_response` into a function called `_err_hook`, and make the following change in publish_module:

[code]

We should then probably also make `transaction_pubevents` notify PubBeforeAbort and PubFailure rather than PubBeforeCommit and PubSuccess in the case where the transaction was doome

[2017-02-14 07:10] icemac commented on #101
See also https://lists.gt.net/zope/users/238907

@hannosch Do you know what has to be done to fix this issue?

[2017-02-14 13:08] icemac commented on #79
@pbauer Could you cherry-pick these commits to a separate branch so they can be merged before merging `plonezope4`?

[2017-02-15 10:28] hannosch commented on #101
I've manually created the `Zope2/index.html` file on the server now. The scripts to create this type of index have been unmaintained for a long time, so I fully expect them to break in other ways in the future. I'd consider the `easy_install --index-url` approach to be deprecated and unmaintained at this point. It's certainly won't be available for Zope2 4.0 anymore, where we'll use buildout and p

[2017-02-15 10:28] #101 closed

[2017-02-20 14:14] hannosch commented on #102
Ok, the regression makes sense. The new WSGI publisher is based on the WSGI publisher in Zope 2.13, which didn't support exception views at all, so I added them in the wrong spot.

For doomed transactions, we can make up some new meaning. Zope 2.13 only had minimal support for them as part of its custom transaction manager (https://github.com/zopefoundation/Zope/blob/2.13/src/Zope2/App/startup.py#

[2017-02-20 14:26] leorochael commented on #102
I've seen code in ERP5, and before that on CMFWorkflow, that relied on the fact that raising a Redirect exception aborted the transaction.

The protocol I've seen used in Zope is like this:

 * If, in the middle of a transaction, you discover that the user should be doing something else, you **raise** a `Redirect` instance to abort the transaction and send the user on his way.

 * On the other han

[2017-02-20 14:55] hannosch commented on #102
`response.redirect` raises a Redirect exception in Zope 4, so that distinction is gone. Similarly many places in the code raise Redirect directly, or in other cases raise BadRequest instead of returning a MessageDialog instance.

But looking at both the publisher and WSGI publisher in Zope 2.13, I think you are right. Raising Redirect so far always aborted the transaction. So the special handling

[2017-02-20 14:58] leorochael commented on #102
This is going to cause pain for the code bases not expecting an exception to be raised here.

Code bases raising `Redirect` directly for now are getting exactly what they're asking for, so it shouldn't be a problem.

[2017-02-20 15:04] hannosch commented on #102
Hhm. Come to think of it, one common use-case is creating a new object, adding it to the ZODB and than redirecting to its default view.

So it might be better to commit transaction on redirect by default and let people use `transaction.doom` for those cases where they want to abort the current publication.

[2017-02-20 16:11] leorochael commented on #102
I'm -1 on any semantic where raising an exception does not abort the transaction (I'm -0 on not aborting HTTP 2XX exceptions).

What's the trouble with returning a redirection when you don't want to abort, instead of raising it?

[2017-02-20 17:27] #97 closed

[2017-02-20 17:39] hannosch opened #103 "Possibly clean up connection open/close logic"
Right now Zope opens a ZODB connection while traversing over the application root object (https://github.com/zopefoundation/Zope/blob/master/src/App/ZApplication.py) via a ZApplicationWrapper. The ZApplicationWrapper is set up during app startup in https://github.com/zopefoundation/Zope/blob/master/src/Zope2/App/startup.py#L126

This wrapper opens the connection and than adds a `Cleanup` instance

[2017-02-20 17:46] davisagli commented on #102
I figured that out and on the `plonezope4` branch I have a change similar to what I proposed above,  but it only dooms the transaction for responses with a status >= 400: https://github.com/zopefoundation/Zope/commit/9fa1f14e1f78b7f0592780d9531d0264f1cf8326

Sure, but _err_hook can also get the response from request.response

I can prepare a pull request from what we've got in the `plonezope4` bra

[2017-02-20 17:52] hannosch opened #104 "Remove more non-Chameleon parts of Products.PageTemplates"
Zope master uses and sets up Chameleon as the default ZPT rendering engine. To do this, I've integrated the former five.pt code directly into `Products.PageTemplates`.

But I didn't yet remove the older code that is no longer required for Chameleon. One issue here is that Chameleon hooks itself into `zope.pagetemplate` via a utility registration for `IPageTemplateEngine`. This means you need to ha

[2017-02-20 18:44] #79 closed

[2017-02-21 15:42] leorochael commented on #102
Exactly. Conversely, a use case of aborting on Redirect is to trap an unauthorized access and redirect the user to the login form.

[2017-02-25 21:18] davisagli commented on #102
In this case the redirect status can be set as part of rendering the Unauthorized exception view. There's no Redirect instance involved (either as a return value or raised exception).

But I agree that there are use cases for issuing a redirect response both with and without triggering exception handling.

I took another look at how the handling of redirects affects Plone. The change to make `resp

[2017-05-03 08:09] jordic opened #108 "Icons missing from ZMI"
I started working on and old zope codebase ( 2.13.19 ) and managed to update it to 2.13.24.
Tried with newer versions without luck. ( I think that with 2.13.25 when boot I have conflicts with Product.Sessions).  But also, with 2.13.24 I miss the folder icons from the ZMI (any ideas how I can fix it)

[2017-05-03 10:39] tseaver commented on #108
@jordic I'm sitting next to @dataflake, who says that 2.13.26 fixed the icons for his project.

[2017-05-03 14:36] pbauer commented on #102
Currently we have 26 failing test due to this issue in http://jenkins.plone.org/view/PLIPs/job/plip-zope4. It ould be great to have a workaround undtil you agree on a lasting implementation.

[2017-05-04 04:40] jordic commented on #108
yup! When trying to upgrade to 2.13.26 got this error:
[code]
An really I'm noob here and can't figure out what should I do to solve it.

[2017-05-04 09:21] mauritsvanrees commented on #108
You may be using a too new version of `Products.Sessions`. With Zope 2.13 you should use `Products.Sessions 3.0`. That is my first guess.

[2017-05-04 10:10] jordic commented on #108
yup, works just installing Product.Sessions 3.0

requirements.txt
[code]

But I still miss folder icons on ZMI. @tseaver @dataflake.
I can try to dig inside the package, if you point me in which O_O. And try to fix it.

PD: @mauritsvanrees Can't get why I have pulled Products.Sessions 4.0... :/

[2017-05-04 14:43] sallner commented on #71
Was resolved with #109.

[2017-05-04 14:43] #71 closed

[2017-05-05 15:08] hannosch opened #115 "Restore ZMI methods to return redirects"
I changed a whole lot of ZMI related manage methods to `raise Redirect()` rather than do `return RESPONSE.redirect()`.

Those changes need to be reverted.

[2017-05-06 17:36] #115 closed

[2017-05-08 04:22] jordic commented on #108
Seems like I missed to install  ``` Products.OFSP ```
After that, all icons from ZMI are in place :)

[2017-05-08 04:22] #108 closed

[2017-05-10 13:27] dataflake opened #116 "Registering an exception view for zExceptions.Unauthorized not possible in Zope 4"
Unlike Zope 2.13 (tested with Zope 2.13.26) Zope 4 disregards views registered for zExceptions.Unauthorized. This is used in e.g. CMFDefault to redirect users to the CMF login page.

For reference, here's the relevant code in Products.CMFDefault:

View registration https://github.com/zopefoundation/Products.CMFDefault/blob/master/Products/CMFDefault/browser/membership/configure.zcml#L39

View clas

[2017-05-10 13:52] dataflake opened #117 "Issues with chained assignments for func_code / __code__"
In several places that used to define func_code, a chained assignment has been inserted to make both func_code and __code__ available. Example:

https://github.com/zopefoundation/Zope/blob/master/src/Products/PageTemplates/ZopePageTemplate.py#L81

This chained assignment does not work correctly and several Products.CMFDefault tests now fail with the end of the traceback showing...

      File "/Us

[2017-05-10 13:52] dataflake commented on #117
Assigning Hanno because he checked in the chained assignments.

[2017-05-10 13:55] hannosch commented on #117
Ok. We should just remove the `func_*` fallbacks for Zope 4. Python 2.7 supports `__code__`, __defaults__` etc. so we don't need those anymore.

[2017-05-10 13:57] dataflake commented on #117
This is mostly search-and-replace. I'll prepare a PR for the master if that's OK.

[2017-05-10 14:14] dataflake commented on #117
Created PR #118 to fix the issue - please review and merge.

[2017-05-10 14:18] dataflake commented on #117
Merged PR #118

[2017-05-10 14:18] #117 closed

[2017-05-12 09:23] dataflake opened #120 "New release?"
All current released Zope eggs won't install as dependency under Python3 because of the sourcecodegen dependency:

  File "/var/folders/jq/51f_s8vs5wz2hjlvrx0b9qhh0000gn/T/easy_install-r5qaeefn/sourcecodegen-0.6.14/ez_setup.py", line 94
    except pkg_resources.VersionConflict, e:
                                        ^
SyntaxError: invalid syntax

The dependency is gone in `master` for several

[2017-05-12 09:39] hannosch commented on #120
Sure. I'll get you a new release later today.

[2017-05-12 10:50] #116 closed

[2017-05-12 10:57] hannosch commented on #120
Zope2 4.0a4 is up on PyPi.

[2017-05-12 10:57] #120 closed

[2017-05-15 11:12] hannosch commented on #39
Most recent status and some tips for getting an instance / debug it over at #129.

[2017-05-17 12:01] jordic opened #132 "Zope on shell commands"
Tying to build some scripts for a zope..  Found a way to execute them (taken from plone repos) with app "context", something like:

[code]
The thing is that all is working if you pass to the script a parameter (not a positional). After digging on the source, found that all is related to configure, tied to  zdaemon.zdoptions import ZDOptions. And that, made me thing that I'm not doing it the proper

[2017-05-17 14:32] tseaver commented on #99
A field named `index.enabled:records` is *supposed* to be a list of records, not dicts.  ISTM that `KeyError: 0` (on the `for` line, I presume) has to be a bug in RP/AC, rather than Zope.

[2017-05-17 14:33] tseaver commented on #99
For clarity, I was assuming that the `KeyError` would be on the `'enabled' in index` part (i.e., looking for `__contains__` on the record and failing, falling back to `__getitem__`).

[2017-05-18 15:41] flipmcf commented on #15
I Haven't closed this because I haven't functionally tested the new release yet.   I'm being lazy.

[2017-05-20 09:12] jordic opened #134 "Extrange error"
Cleaning and messing with my requirements, I've ended with that error:

[code]
AccessControl==3.0.13
Products.Sessions==3.0
Zope2==2.13.26
Products.BTreeFolder2==2.13
Products.ZCTextIndex==2.13
Products.MailHost==2.13
Products.OFSP==3.0
Products.ZSQLMethods==2.13
Products.ExternalMethod==2.13
Products.PythonScripts==2.13
Products.CMFCore==2.2.10
ZopeUndo==2.12
python-gettext
z3c.sqlalchemy
DBUtils

[2017-05-20 09:29] dataflake commented on #134
To start with a sane base you should always stick with the version pins for the particular Zope version you are using.  For 2.13.26 the version pins are here:

https://raw.githubusercontent.com/zopefoundation/Zope/2.13.26/requirements.txt

You can also take the following URL and use it in an "extends =" stanza in your buildout configuration:

https://raw.githubusercontent.com/zopefoundation/Zope/2

[2017-05-20 09:47] jordic commented on #134
So many thanks! Will try!
We still don't have a buildout.cfg ... Just extracted the main app from an old server, and running with virtualenv.. (Should I learn it?)

[2017-05-20 09:47] #134 closed

[2017-05-20 10:33] dataflake commented on #134
Using zc.buildout is still the sanest way to create a running Zope instance, yes. The buildout recipe plone.recipe.zope2instance will do most of the work.

[2017-05-22 13:16] hannosch commented on #39
New Zope2 4.0a5 release is up on PyPi.

This still has 2 test errors related to the `HTTPRequest.FileUpload` class. It's both an old-style class, using old-style class semantics and has to be adjusted to non-trivial changes in `cgi.FieldStorage`. `FileUpload` tries to be a half-transparent wrapper around `FieldStorage`.

There's also three more errors related to `ZTUtils.Tree`, which needs both co

[2017-05-23 23:35] tseaver commented on #39
I think I fixed the `FileUpload` tests today in #138.

I got those tests passing today in #137.

One of those is fixed in #138.

That one is ugly:  the `email` package APIs want native `str` on both Python 2 and Python 3, which makes for a bunch of realy ugly branching.

[2017-05-24 05:36] dataflake commented on #39
I've been working on MailHost, and like Tres says, it's another big string compatibility mess.

[2017-05-24 09:20] hannosch commented on #39
There's still a test failure:
[code]

I took that to mean the way `FileUpload.__init__` puts methods from the underlying field storage into `__dict__` doesn't work anymore. I thought new-style classes either need a `__getattribute__` hook to intercept some of these, or in some cases like `__iter__` even that isn't enough and it needs the method to be defined explicitly.

[2017-05-31 21:54] hannosch commented on #39
Final test failure is fixed and the master branch is green on Py{27,34,35,46}.

`Products.MailHost` is the last optional but default dependency of Zope which isn't ported yet.

And of course lots of untested code in Zope is likely still wrong as well ;)

[2017-06-01 11:11] gotcha commented on #39
untested code ? really ? :)

[2017-06-06 16:56] tseaver commented on #15
Reopen if you find it is still b0rken.

[2017-06-06 16:56] #15 closed

[2017-06-06 16:59] tseaver opened #145 "'mkzopeinstance' is b0rken on Python3"
[code]

[2017-06-06 17:04] tseaver commented on #145
Looks like `mkwsgiinstance` is the [preferred alternative](https://zope.readthedocs.io/en/latest/INSTALL-virtualenv.html).

[2017-06-06 17:10] tseaver opened #146 "4.0a6: runwsgi b0rken on Python3"
[code]

provokes the following traceback:

[code]

[2017-06-06 17:13] hannosch commented on #146
Indeed. The issue here is that `ZServer==4.0a2` is in the requirements file. And since ZServer isn't Python 3 compatible at all, it fails with errors (relative vs. absolute imports in this case).

[2017-06-06 17:17] tseaver commented on #146
The following fixes that error:

[code]

And then fails for `Products.MailHost`:

[code]

traceback:

[code]

Which then brings up the server:

[code]

ISTM we need to be publishing a `requirements.txt` file which doesn't pull in the optional Python2-only deps.

[2017-06-06 17:20] tseaver opened #147 "Restore the "View" tab in the ZMI"
When editing a TTW script / template / method / document, having a way to see the results of the edit is pretty important.

[2017-06-06 17:25] hannosch commented on #146
Should be fixed via 65a2bed071f4f7c147c7201d47414c15b055ec4f, by adding python_version markers to the requirements file.

[2017-06-06 17:25] tseaver opened #148 "Uploading a file b0rken under Python3"
1. From the ZMI "Add" menu, select "File".
2. Leave `id` and `title` blank, and select a file using the file browser.
3. Click "Add".

Traceback:

[code]

[2017-06-06 17:28] hannosch commented on #145
Yeah. The mkzopeinstance script is now provided by the ZServer project, which isn't Python 3 compatible. The Zope project provides the mkwsgiinstance script, which is Py3 compatible.

I've tried to document that a bit over at https://zope.readthedocs.io/en/latest/WHATSNEW.html. Improvements to that document are more than welcome :)

[2017-06-06 17:28] tseaver commented on #148
Unsurprisingly, the same error occurs if I first add the file with `id` and `title` set, but no upload, and then attempt the upload from its "Edit" tab.

[2017-06-06 17:31] tseaver commented on #148
Also unsurprisingly, `Image` is b0rken the same way.

[2017-06-06 17:34] tseaver commented on #148
Likewise `PageTemplate`.

[2017-06-06 17:34] hannosch commented on #148
Btw. if you haven't seen it, using `runwsgi -dv etc/zope.ini` - the `-d` enables Zope debug mode and disables the catch all part of the httpexceptions middleware, so you get useful tracebacks on the console.

[2017-06-06 17:40] tseaver commented on #148
Thanks, that is actually what I was using to get the traceback above.

[2017-06-06 17:41] tseaver opened #149 "Lexicon not addable"
Iside a catalog, it doesn't appear in the "Add" menu. But it *is* addable at the root.  ISTM that the most sensible place to put a lexicon is inside a catalog.

[2017-06-06 17:42] tseaver commented on #149
Correction:  `ZCTextIndex Lexicon` is a choice in the "Add" menu outside a catalog, but selecting it leads to:

[code]

[2017-06-06 17:48] tseaver commented on #149
This traceback is really https://github.com/zopefoundation/DocumentTemplate/issues/10.

We still need to fix the add menu issue, however.

[2017-06-06 18:46] tseaver commented on #146
I'm going to claim that 65a2bed fixes this issue.

[2017-06-06 18:46] #146 closed

[2017-06-06 18:46] tseaver commented on #145
I'm going to claim that 65a2bed fixes this issue.

[2017-06-06 18:46] #145 closed

[2017-06-06 19:36] flipmcf commented on #15
Thank you.   I will stop being lazy and functionally test it.
I really hope I won't re-open.

[2017-06-07 18:42] tseaver commented on #39
#148 is the biggest unresolved blocker I know of for "core" Zope:  I set up an instance yesterday on Python 3.6 and was able to exercise all the default ZMI options except those involving file uploads.

[2017-06-17 00:59] freddrueck opened #150 "etc/wsgi.conf cannot contain <temporarystorage> section"
[requirements.txt](https://github.com/zopefoundation/Zope/files/1082210/requirements.txt)
[traceback.txt](https://github.com/zopefoundation/Zope/files/1082211/traceback.txt)

If I use the example from the latest docs available:

http://zope.readthedocs.io/en/2.13/WSGI.html#update-the-zope-application-configuration

which suggests you fill wsgi.conf out as:

[code]
bin/runwsgiapp etc/zope.ini

will

[2017-06-17 01:30] hannosch commented on #150
You are mixing the 2.13 docs and the 4.0 alpha code. The 4.0 alpha release no longer directly supports a temporary storage. You need to install the optional tempstorage and ZServer projects and use a non-WSGI setup. The legacy tempstorage is no longer supported in the 4.0 alpha WSGI based publisher. It might be possible to customize a lot of the Zope startup logic and bring back that support for y

[2017-06-17 01:48] freddrueck commented on #150
If the use of temporary storage with the WSGI server is no longer
supported, it should probably be mentioned in the changelog:

http://zope.readthedocs.io/en/latest/changes.html

I realize that I'm mixing and matching the Documentation from the 2.13
release, but since there is a significant amount of information missing
from the Zope 4 documentation (such as how to start the ZServer), I don't
real

[2017-06-28 08:30] bkstan opened #151 "Fresh install of Zope2 via pip fails"
Hi,
I try to create and run brand-new instance of Zope2 via pip:
Create virtual environment with python 2.7.13
Then install Zope2 (pip install Zope2)
Then make instance (mkzopeinstance ...)

Then start server and get

  File "/home/stas/Plone/2017/lib/python2.7/site-packages/Products/ZCatalog/__init__.py", line 16, in <module>
    from Products.ZCatalog import ZCatalog
  File "/home/stas/Plone/201

[2017-07-03 08:53] gotcha commented on #151
The Zope community most often uses `buildout`  to manage dependency tracking. Have you tried ?

[2017-07-03 08:56] bkstan commented on #151
Thanks, clear.
Yes, it's fine using tar archive or buildout.
Nice to know that Zope is developed nowadays.

[2017-07-03 08:56] #151 closed

[2017-07-06 20:41] carloshanson opened #152 "When uploading a File or Image: ValueError: I/O operation on closed file"
This is a new install of Zope 4.0a6 using virtualenv. Unfortunately, I am having trouble figuring out why. Running `./bin/runwsgi -v -d etc/zope.ini`, gives the following traceback when trying to upload an Image through the web:

[code]

When uploading a File, the traceback looks slightly different:
[code]

I'm out of practice with Zope debugging. I will keep poking at it, but I would also appreci

[2017-07-07 01:32] hannosch commented on #152
This is likely the same or a similar bug as #148.

[2017-07-07 02:34] carloshanson commented on #152
After reviewing #148, I have to agree. The primary difference is the Python
version. I used Python 2.7.

Carlos Hanson

[2017-07-08 13:50] stephan-hof commented on #148
Let me try to summarize what leads to this error:

* `HTTPRequest.processInputs` starts and creates an instance of `ZopeFieldStorage`
* This field storage parses the request and stores the data to upload in a temporary file. This temporary file object is also stored in `self.file` of the field storage
* `processInputs` adds later a `FileUpload` object into the request form. This `FileUpload` objec

[2017-07-10 18:17] carloshanson commented on #152
I'm going to close this ticket. I tested the change in the [comment ](https://github.com/zopefoundation/Zope/issues/148#issuecomment-313856974) by @stephan-hof. It also fixes the issue when using Python 2.7.

[2017-07-10 18:17] #152 closed

[2017-07-10 21:19] tseaver commented on #148
@hannosch Can you recall why we thought we needed `ZopeFieldStorage.__del__` to close the TFW?

[2017-07-10 21:43] hannosch commented on #148
I actually added the `ZopeFieldStorage.__del__` to customize the logic. Otherwise we inherit the `cgi.FieldStorage` version under Python 3.4+

Without overriding `__del__` we got even more errors, in the more common case where `self.file` is a BytesIO instance and not a temporary file.

I didn't go as far as disabling the `__del__` completely, as I trusted the Python 3 code to have a good reason t

[2017-07-11 07:24] stephan-hof commented on #148
I don't get it why they added ``__del__`` to ``FieldStorage``.
As far as I can see the objects which are assigned to ``self.file`` implement ``__del__`` as well to cleanup resources.

So in  both cases the garbage collector has the task to identify that they have to be closed. The only difference I can see is that ``FieldStorage`` does not emit this ``ResourceWarning``, but the objects assigned to

[2017-07-11 08:45] hannosch commented on #148
+1, that sounds like the better idea to me. Bottle did the same and keeps the fieldstorage instance around longer (https://github.com/bottlepy/bottle/issues/567).

[2017-07-16 21:44] #148 closed

[2017-07-23 14:41] stephan-hof commented on #147
Fixed via #154

[2017-07-23 14:41] #147 closed

[2017-08-21 15:27] icemac opened #157 "Removal of CLIENT_HOME from builtins should be documented"
In 5044769 `CLIENT_HOME` was removed from the `builtins`. As really old software might depend on this behaviour it should be documented what to do if there as a `NameError("name 'CLIENT_HOME' is not defined",)` in the code after updating.

[2017-08-23 12:28] icemac opened #158 "Redirect from docs.zope.org/zope2/releases to RTD"
At least http://docs.zope.org/zope2/releases/4.0/ contains an old documentation state of Zope 4 (4.0a1) whereas http://zope.readthedocs.io has the latest changes.

I think it would be nice if http://docs.zope.org/zope2/releases/ and its subpages would redirect to ReadTheDocs like http://docs.zope.org/zope.component/index.html does.

[2017-08-24 15:05] icemac opened #159 "Cannot start from ZODB created with Zope 2.13"
I have a ZODB create with Zope 2.13 which I want to use unter Zope 4.

If `App.ApplicationManager.ApplicationManager` and `OFS.Application` are not a subclass of `Persistence.Persistent` Zope does not start because of errors during `unghostify`.

After the first successful start these errors go away even when no longer extending `Persistence.Persistent`. Are theses objects no longer persisted in t

[2017-08-24 15:42] hannosch commented on #159
Both of these are no longer persistent objects. They used to be objects mounted at `/Control_Panel`. That was only required as long as `/Control_Panel/Products` was a persistent folder which could hold entirely ZODB-only Python Products code. In-ZODB `Products` were removed a while ago, can't say if it was 2.12 or 2.13, so there was no longer a need to making the control panel section persistent.

[2017-08-24 18:46] leorochael commented on #159
Products were still persistent in Control Panel in 2.12.

And there was another reason for `/Control_Panel` itself to be persistent: some projects added their own icons and functions to `/Control_Panel` to persistently store zope-wide settings (e.g. TimerService, which was like Zope clock-server, but with better resolution (vs the 30s minimum of clock-server) and allowing to change at runtime whic

[2017-08-24 19:52] jimfulton commented on #158
I don't understand. Do you want:

    RewriteRule ^/zope2/releases(.*) http://zope.readthedocs.io/en/latest$1 [L,R=301]

?

[2017-08-25 09:47] icemac opened #160 "manage_workspace breaks on redirect"
When the view `manage_workspace` tries to redirect to  another view it breaks because it raises a `zExceptions.Redirect` exception which is no longer caught by Zope.

See https://github.com/zopefoundation/Zope/blob/master/src/App/Management.py#L83

It should redirect via the response object.

[2017-08-25 10:00] hannosch commented on #160
The exception should be caught and turned into a response by the egg:Zope2:httpexceptions WSGI middleware. What does your zope.ini pipeline section look like?

[2017-08-29 14:37] hvelarde opened #161 "Log level below WARN is not shown on console when using the "run" command"
I have noticed that running a script using `instance run` results on logs below WARN level are not shown in the console even when have configured the access log at INFO level; logs are neither written to the `instance.log` event log file.

Is there a way to change this behavior?

more information: https://community.plone.org/t/how-to-enable-logging-when-using-the-instance-run-command/4750?u=hvelar

[2017-09-04 15:18] davisagli commented on #161
Not sure if this is the best way, but I found this snippet in one of my scripts:
[code]

[2017-09-05 09:12] icemac commented on #158
@jimfulton Yes, this sounds like the redirect I want to have.

[2017-09-05 09:13] icemac commented on #158
Maybe all URLs below `/zope2/releases/` should redirect to `http://zope.readthedocs.io/en/latest` while removing the following path elements because I am not sure if the match the paths on RTD.

[2017-09-05 12:37] taenzerme opened #162 "zope.org down"
Hey all,

as it seems zope.org is down for some time now.

I don't know who's taking care of this but it would be great to get it back online :-)

Thanks!

Best
Sebastian

[2017-09-05 12:47] hannosch commented on #162
Well, nobody is taking care of it really. That's why the few of us still around have been trying to move everything away from the server and onto services likes readthedocs or github.io pages.

@jimfulton might be our best bet on, who might be able to get the box up again. It seems it's down hard and not responding to a ping. I'd have ssh access into the box if it was up.

@taenzerme is there some

[2017-09-05 12:54] jimfulton commented on #162
Technically, zope.org is up. :)  The machine with various services on it.
most notably mail.zope.org and doc.zope.org is down.

On Tue, Sep 5, 2017 at 8:47 AM, Hanno Schlichting <notifications@github.com>
wrote:

We need to try harder. :)

There's nothing I can do atm.  I'm somewhat hopeful that it will come back
due to other folks' efforts.

[2017-09-05 13:12] taenzerme commented on #162
Hey, thanks for the quick response. One of my coworkers is looking into Zope and ZMS3 (CMS based on Zope2) and was looking for the documentation aka "The Zope Book" (which, btw, still sits on my shelf as printed first edition).

If it helps in any way: My company is running a big Proxmox cluster here in Bonn, Germany, and we could provide a server for free if needed. But from what I understand rea

[2017-09-06 10:41] taenzerme commented on #162
Sorry for "bumping" this again, but if anyone of you does have a static (as in "offline") copy of the docs it would be great to share these as a download here or somewhere else online. The wayback archives actually do not help, too, as all links do go to the original domain.

[2017-09-06 13:17] jimfulton commented on #162
The sites are back up.

[2017-09-06 13:17] taenzerme commented on #162
Perfect, thanks for your help.

[2017-09-06 14:10] icemac opened #163 "Move https://docs.zope.org/zope2/ to RTD"
Should https://docs.zope.org/zope2/ be moved to RTD?
So we do not have to keep it on zope.org infrastructure? (See #162)

[2017-09-06 14:44] hannosch commented on #163
Yeah, it's only the zope2book and zdgbook which are still there. I don't actually remember where the source code of those is. Maybe they were in SVN and never moved to Git.

[2017-09-08 06:10] icemac commented on #163
@jimfulton Could you please have a look in the SVN repos if zope2book and zdgbook exist there?

[2017-09-09 17:01] jimfulton commented on #163
hahaha of course it should be moved!!!  (somewhere)

Good questions re svn. I'll look.

BTW, would either of you like a copy of the svn repo. I have no desire to hoard it. :)

[2017-09-09 17:11] jimfulton commented on #163
jim@d259b8da20e0:~/2git$ svn ls file:///zf/svn/repos/main
2github/
AccessControl/
Acquisition/
BTrees/
CMF/
CMF_Extras/
CMF_Hotfixes/
ClientForm/
CompositePage/
DateTime/
DocumentTemplate/
ExtensionClass/
GenericSetup/
Grokstar/
Interface/
Missing/
MultiMapping/
Persistence/
PluggableAuthService/
PluginRegistry/
Products.Ape/
Products.BTreeFolder2/
Products.Basket/
Products.CMFActionIcons/
Product

[2017-09-09 17:12] jimfulton commented on #163
Do any of those look promising?

[2017-09-09 17:14] jimfulton commented on #163
developer_docs looks a little bit promising.

[2017-09-09 17:15] jimfulton commented on #163
I'm converting it.

[2017-09-09 17:49] hannosch commented on #163
It might be zope2docs

[2017-09-09 17:51] jimfulton commented on #163
I've converted developer_docs and zope2docs.

[2017-09-10 13:43] hannosch commented on #163
Thanks @jimfulton !!!

I've integrated the zope2docs contents into the Zope repo (with Git history), so it's all available at https://zope.readthedocs.io/en/latest/.

I've also added Apache rewrite rules, so everything in the Zope2 section on http://docs.zope.org/ redirects to the new places.

[2017-09-10 13:43] #163 closed

[2017-09-10 13:44] hannosch commented on #158
I just did those as part of #163.

[2017-09-10 13:44] #158 closed

[2017-09-10 13:45] jimfulton commented on #163
Thanks @hannosch !!!

[2017-09-11 00:08] hannosch opened #166 "Support Unicode URIs"
We decided to make all object ids, contributing to the physical path Unicode. Which also means they can show up in URIs as path segments.

We should make sure that you can use full Unicode URIs including internationalized domain names.

In Zope 2.13 object ids and URIs where limited to ascii-only and there were multiple places that checked for this explicitly.

[2017-09-12 06:15] icemac commented on #163
@jimfulton wrote:

I'd be interested in a copy of the repo. Can you contact me via e-mail to discuss how to get it to me?

[2017-09-13 09:41] sallner commented on #103
There was a regression in case an error is raised. An attempt to fix this can be found in #168.

[2017-09-14 07:42] sallner commented on #160
@hannosch you are right. Integrating the `Zope2:httpexeceptions` error handling is the solution for this issue. The zope.ini, on the other hand, is not necessarily the right place. Our application constructs a pipeline on its own and registers another error handler creating error views. The `Zope2:httpexeceptions` middleware has to be inserted before the Redirect is converted to html.

I try to fi

[2017-09-14 09:44] sallner commented on #99
What is way to proceed with this issue? As seen from https://github.com/zopefoundation/Zope/blob/05ec0d6617aeba0f9429aa874e1931313276d3d3/src/ZPublisher/HTTPRequest.py#L1795-L1806 it is intended to use the `__contains__` from `__dict__`. But I suppose that the default implementation checks via `hasattr` whether `__contains__` is present and fails to find it here.  @tseaver What about removing `__c

[2017-09-14 13:55] sallner commented on #149
@tseaver I failed to reproduce your issue, but maybe I misunderstood. In a fresh instance of Zope4, I added a `ZCatalog` to the root and then it was possible to add a `ZCTextIndex Lexicon` in the root folder and in the ZCatalog. It is not possible to add it on the `Indexes`-Tab, but that was not possible in Zope 2.13 either.

Can you clarify that issue please?

[2017-09-14 22:51] #159 closed

[2017-09-15 05:21] hannosch commented on #160
Closed via #160.

[2017-09-15 05:21] #160 closed

[2017-09-15 05:23] hannosch commented on #39
All the dependencies are done (MailHost is now entirely optional). Closing this in favor of the b1 milestone, which tracks general issues - not only those about Python 3 compatibility.

[2017-09-15 05:23] #39 closed

[2017-09-15 05:34] hannosch commented on #102
I think we have solved all the issues mentioned here. Redirects happen again via response.redirect, and those do not use an exception. The testbrowser should follow those as well.

Exception views got moved inside the pubevents/transaction context manager, so events like PubFailure happen again after them. The zope.globalrequest set/clear calls are happening directly inside the publisher code and

[2017-09-15 05:34] #102 closed

[2017-09-15 09:44] dwt commented on #104
We just figured out that commenting out https://github.com/zopefoundation/Zope/blob/master/src/Testing/ZopeTestCase/ZopeLite.py#L143 (which should already disable all indirect use of PageTemplate.Expressions) doesn't kill any tests. That should make this task much simpler.

[2017-09-15 09:59] icemac opened #177 "Create `Zope` and `Zope4` packages."
There is a bit confusion: The 4.x releases of Zope are in here on GitHub in the `Zope` repository. But on PyPI they are to be found as [Zope2](https://pypi.org/project/Zope2/#history).

Maybe some meta packages could help to ease the situation:

* `Zope` (This is currently owned by @baijum in PyPI)
* `Zope4`

They could be like zopefoundation/ZODB3 and actually only depend on `Zope2 >= 4.0` with n

[2017-09-15 10:04] baijum commented on #177
Please let me know to whom I should transfer the ownership.

[2017-09-15 10:06] icemac commented on #177
@baijum Thank you for the quick response. Could you transfer it to me:  `icemac`, so I can later on add other users.

[2017-09-15 10:08] dataflake commented on #177
This is the best moment to do a "rename" similar to how Jim moved from the ZODB3 name to ZODB. The final package should be "Zope" and dependencies on "Zope2" can be handled by a "Zope2" egg that defines just a dependency on "Zope".

[2017-09-15 10:14] baijum commented on #177
@icemac I have added you as owner. I can see it here: https://pypi.python.org/pypi?:action=role_form&package_name=zope

But I don't see it reflected here: https://pypi.org/project/zope/

Can you please check.

[2017-09-15 10:48] icemac commented on #177
@baijum Thank you for your quick response. It worked, I have the owner rights of the package now.

[2017-09-15 10:50] icemac commented on #177
@dataflake Your suggestion is way better than mine as we now have access to the `zope` package on PyPI. I could not imagine that it could be this fast.

[2017-09-15 11:07] baijum commented on #177
@icemac Welcome :)

[2017-09-15 11:37] #157 closed

[2017-09-15 12:09] sallner opened #179 "Navigationtree in ZMI is not working."
When attempting to expand a folder with content in the TreeDisplay on the left-hand side of the ZMI, we get the following error under Python 3.

[code]

To reproduce:

- Create folder `Test`
- Inside `Test` create a folder `Subtest`
- Reload the ZMI, as the TreeDisplay may not be automatically updated
- Click on the `+` in front of `Test`

[2017-09-15 12:56] #150 closed

[2017-09-15 20:50] hannosch commented on #99
Ah, I think the issue is that we made the record class a new-style class. On those `__getattr__` isn't used at all when checking for special `__something__` methods. We need to implement the last three methods in that list directly on the class. Otherwise we'd have to implement `__getattribute__` instead.

[2017-09-15 21:11] hannosch commented on #103
Closed for good via #176.

[2017-09-15 21:11] #103 closed

[2017-09-15 21:14] hannosch opened #183 "Make a Zope2 release on PyPi"
The last travis-ci job for Zope fails, as it tries to install the Zope2 project (required by its optional packages tested in alltests). But Zope2 isn't pinned in the versions-prod file.

We need both a Zope2 beta1 release on PyPi and add a version pin for it.

[2017-09-16 09:40] #99 closed

[2017-09-18 15:20] icemac commented on #183
Sorry for the delay, but we ran out of time on Saturday.

[2017-09-18 15:32] #183 closed

[2017-09-18 17:11] pbauer opened #187 "change to new style classes breaks installing products"
The change to new style classes in https://github.com/zopefoundation/Zope/commit/bb7837c667454ba1cf13c6750c6700cb31944df0 by @hannosch breaks installing products (among other things I guess):

[code]

See http://jenkins.plone.org/view/PLIPs/job/plip-zope4/

[2017-09-18 17:36] #187 closed

[2017-09-20 13:00] icemac commented on #177
* I released `Zope` on [PyPI](https://pypi.org/project/Zope/4.0b1/) as `Zope`.
* I made a meta package `Zope2` here on [GitHub](https://github.com/zopefoundation/Zope2) and released it as `Zope2 4.0b1` to [PyPI](https://pypi.org/project/Zope2/4.0b1/).

I think this is enough, there is no Zope4 package needed.

[2017-09-20 13:00] #177 closed

[2017-09-26 07:14] icemac opened #192 "bin/mkwsgiinstance no longer creates a self contained instance"
Calling `bin/mkwsgiinstance` on a directory different from `.` only creates the following files and directories:

[code]

It is missing at least the `bin` directory.

Is this intensional? What is the use case for a missing `bin`directory?

[2017-09-26 09:28] hannosch commented on #192
The job of assembling the Python environment is left to either buildout or virtualenv/pip. The `mkwsgiinstance` script only creates a skeleton with configuration files in it.

The old `runzope` shell script (https://github.com/zopefoundation/Zope/blob/2.13/src/Zope2/utilities/skel/bin/runzope.in) didn't really do anything either. It was just a convenience shell script to hardcode the `-C etc/zope.

[2017-09-29 11:22] petri commented on #75
The docs should also explain where to find / how to get the wsgi-runnable application callable that accepts the (environ, start_response).

[2017-09-29 11:27] petri commented on #192
It would indeed be useful to have information on how to run Zope inside arbitrary WSGI server. Starting with the built-in wsgiref.simple_server from the Python stdlib.

[2017-09-30 09:05] nazrulworld opened #193 "Clarification python3.5+ async await"
First I am sorry to say that I am not expert in Zope technology but I am so much excited to hear about Zope4 is supporting python3.
My question
1. aysnc/await will be working on Zope4, i mean waitress is supporting async/await?
2. Do Zope4 will support websocket?

[2017-09-30 12:00] hannosch commented on #193
No. Supporting async/await effectively means having to rewrite the codebase to exclusively use async/await throughout the entire stack. There is no way to support both the current threading model and async/await at the same time in the same codebase, so this would be breaking backwards compatibility with almost all existing code. Worse there would be no gradual upgrade path as there was with Pytho

[2017-09-30 12:33] #193 closed

[2017-10-06 13:05] jcea opened #194 "Instructions to install in a virtualenv are not working"
Documentation in https://zope.readthedocs.io/en/2.13/INSTALL-virtualenv.html describes this procedure to install Zope inside a virtualenv:

[code]

Documentation needs to be fixed :).

Details in this mailing list thread: https://mail.zope.org/pipermail/zope/2017-August/176764.html

[2017-10-06 14:11] hannosch commented on #194
It looks like the supported index format changed with pip 8.0.0. Following the provided instructions with pip 7.1.2 works as expected.

[2017-10-10 08:31] frisi opened #196 "Zope2 and celery, Error in ApplicationManager.py"
When using Zope2 in a buildout together with [celery](https://pypi.python.org/pypi/celery/) (needed for ploneintranet) i get errors when accessing the debug information of zope profiler.

[code]

a similar problem occurs when using `Products.ZNagios`

[code]

both can be fixed by applying a patch to `Zope2.App.ApplicationManager.DebugManager` as suggested in the [Ploneintranet Documentation](http:

[2017-10-10 10:26] hannosch commented on #196
Would it also work if we used:
[code]

The `LazyModule` in `celery.five` is a subclass of `ModuleType`, but doesn't seem to carry over the `__name__` of the original. Funnily enough it uses `__name__` itself to do its old to new module location mapping work.

If we'd check for `ModuleType` explicitly, we should avoid this `LazyModule`.

[2017-10-10 11:06] jamadden commented on #196
Wouldn't that also avoid any module that used [zope.deprecation](https://github.com/zopefoundation/zope.deprecation/blob/master/src/zope/deprecation/deprecation.py#L178) or [zope.deferredimport](https://github.com/zopefoundation/zope.deferredimport/blob/master/src/zope/deferredimport/deferredmodule.py#L96)?

[2017-10-10 11:12] hannosch commented on #196
Probably.

But the purpose of the refcount method in question is to do a refcount snapshot and later compare it to another snapshot. This is meant to help in finding refcount leaks in application logic. I highly doubt lazy modules or deprecation/moved modules are involved in refcount leaks. So omitting them here shouldn't really hurt.

[2017-10-10 12:57] frisi commented on #196
@hannosch i tried out your proposal and ZNagios works fine with these changes
[code]

if we can live with the downsides @jamadden is outlining (and agree that it is extremely unlikely that code marked as deprecated or using deferred imports) is causing reference-count leaks we're fine.

to be 100% sure, we might check `type(m) in (zope.deprecation.deprecation.DeprecationProxy, zope.deferredimport.

[2017-10-10 16:06] tseaver commented on #196
Can we just do this via `isinstance`?  E.g.:

[code]

[2017-10-10 17:08] hannosch commented on #196
Well, no. Since we want to avoid the `LazyModule` from `celery.five`. Which is a subclass of ModuleType, so `isinstance` checks would return true for them.

[2017-10-11 06:50] icemac opened #197 "Add badges to README.rst"

[2017-10-13 14:51] #197 closed

[2017-10-13 20:43] rodfersou commented on #161
@davisagli I confirm that your code works to print into console the log.

But my final code should create the instance log file, and with your fixes it just print into console, do you know what to change to make the log generate the var/log/instance.log file?

[2017-10-17 02:55] jcea commented on #194
Should it be better to support PIP > 8.0.0 since current release is >9.0?. Downgrading PIP seems an ugly hack...

[2017-10-17 09:03] hannosch commented on #194
Zope 2.13 is seven years old now and requires lots of old versions of all kinds of libraries. It shouldn't really be surprising, that it also needs older installation tools (both pip and buildout).

Since the release is basically in security-fix only mode, I don't think adding support for a different installation scheme is in-scope for it anymore.

If you need modern tool and language support, Zop

[2017-10-17 09:03] #194 closed

[2017-10-17 19:28] icemac commented on #194
@jcea In #198 I documented the install procedure using a current `pip` version. It is published on https://zope.readthedocs.io/en/2.13/INSTALL-virtualenv.html#install-the-zope2-2-13-26-software-packages Surprisingly it was not that difficult.

[2017-10-20 14:38] bogi788 opened #204 "multipart post requests fail in 4.0b2 on python3"
Submitting multipart forms using POST requests sometimes causes following exception on Python 3.6.3:

[code]

[2017-10-21 10:02] bsuttor opened #205 "Migrate Plone site from Zope2 2.13 to Zope2 4.0b3.dev0"
python version : 2.7.14

Steps to reproduce :
- create Plone site on Zope2 2.13 (Plone 5.1) (with [buildout.coredev](https://github.com/plone/buildout.coredev/))
- restart buildout with "-c plip-zope4.cfg" option (use Zope2 4.0b3)
- start instance

[code]

[2017-10-23 14:07] icemac commented on #205
Expect the same error you got for `ZPublisher.BeforeTraverse.NameCaller` for the following classes, too:

* `ZPublisher.BeforeTraverse.MultiHook`
* `Shared.DC.Scripts.Signature.FuncCode`
* `Shared.DC.Scripts.Bindings.NameAssignments`

Instances of these classes are stored in pickles in the ZODB. They have a constructor (`__init__` method) which seems to be called during unpicking.

This behaviour

[2017-10-23 14:23] icemac commented on #205
@bsuttor I sketched a possible solution in #208. Could you please try with the branch used there and report back if it helps?

[2017-10-23 14:23] icemac commented on #205
Maybe there are other classes besides the ones mentioned in this ticket which have the same problem.

[2017-10-23 15:39] icemac opened #209 "Unauthorized when accessing Products.PythonScripts.standard in PageTemplate"
The following code in a TTW PageTemplate in Zope 2.13 rendered `asdf` when calling it.

[code]

In Zope 4 it raises an `Unauthorized` exception which manifests in a basic auth password dialog.

Other modules seem to work. Maybe the security declarations of this module are no longer read.

[2017-10-23 15:54] icemac opened #210 "chameleon.zpt.template.Macros is missing a security declaration"
Imagine the following scenario in Zope 2.13 using through the web PageTemplates:

Contents of PageTemplage named `master`:

[code]

Contents of another PageTemplate:

[code]

The latter PageTemplate renders as `bar bar`.

On Zope 4 the same scenario behaves differently:

[code]

successfully renders `bar` but

[code]

raises an `Unauthorized` exception which manifests in a basic auth password dial

[2017-10-23 16:25] tseaver commented on #209
There used to be a `security.declarePublic(Products.PythonScripts.standard)` call somewhere in the startup bits.

[2017-10-24 09:28] icemac opened #211 "Security declaration warning at startup"
When starting Zope 4.0b2 it issues the following warning:

[code]

This might confuse users. What can de done to get rid of this warning?

[2017-10-24 12:11] icemac commented on #209
It was fixed in zopefoundation/Products.PythonScripts#10 which did not have a change log entry nor a release so I stumbled across it by accident. I'm going to write a change log entry for it. Sorry for the noise.

[2017-10-24 12:11] #209 closed

[2017-10-24 13:41] icemac opened #212 "No default view for root object"
Zope 2.13 had this well known, outdated greetings page. Zope 4 has:

![z4](https://user-images.githubusercontent.com/386619/31946202-7ab45788-b8d1-11e7-8151-f2b7d6aed77f.png)

This is not very welcoming even for users switching form older Zope versions or trying out Zope 4.
I propose to add a minimal `index_html` back to the default ZODB to get rid of this Waaa effect.

[2017-10-24 13:50] icemac opened #213 "Broken objects are rendered as Folders in ZMI"
If I migrate a Zope 2.13 `Data.fs` to Zope 4 and not all Products are installed the resulting broken objects are rendered as `Folder` in the `Type` column of the ZMI. This way they cannot be distinguished from actual folders.

Is there a way to render with the type `Broken object` to be able to see what's broken? (If I remember correctly previously the icon was showing that the object was broken.)

[2017-10-24 14:09] #205 closed

[2017-10-24 14:22] bsuttor commented on #205
@icemac thank you,
I will try tomorrow or after tomorrow

[2017-10-26 07:16] bsuttor commented on #205
I just try it, and it works,
Now Zope2 4.0b3 can start with a Plone site created on  Zope2 2.13.

Thank you

[2017-10-26 10:28] dataflake commented on #149
IMHO this can be closed. The actual issue causing the traceback is fixed in DocumentTemplate since 3.0a4 (Zope now requires 3.0b1) and the behavior that you can add Lexicon instances outside a catalog is unchanged from prior Zope versions.

[2017-10-26 10:28] #149 closed

[2017-10-26 10:53] dataflake commented on #192
When I run mkwsgiinstance from a simple buildout that installs Zope's console scripts using zc.recipe.egg then mkwsgiinstance fails completely:

[code]

The culprit is in src/Zope2/utilities/mkwsgiinstance.py in the ``get_zope2path`` function. For some reason it makes a call to ``os.popen`` with the current Python interpreter to import the ``Zope2`` module and find its ``__file__``. This will fail

[2017-10-28 06:07] pbauer opened #216 "Should WSGIResponse.setBody mimic the HTTPResponse.setBody if lock is truthy?"
`WSGIResponse.setBody` mimics the signature of `HTTPResponse.setBody` but not the semantics. If the application is passing `lock=True` to the method, then it will be expecting that future calls to `setBody` will be no-ops.
See https://github.com/zopefoundation/Zope/pull/215.

[2017-11-01 10:57] icemac opened #217 "manage_pasteObjects breaks when pasting many objects"
[_cb_decode](https://github.com/zopefoundation/Zope/blob/2.13/src/OFS/CopySupport.py#L686) only allows 8 kB of compressed copy data.
This was introduced in https://github.com/zopefoundation/Zope/commit/6ca369193cb3292aca0824216dbe1775c65ff8be to prevent a DoS attack.

The curent implementation also prevents pasting many objects in file system code be calling e.g.:

[code]

I propose a new paramete

[2017-11-01 15:11] tseaver commented on #217
ISTM that allowing TTW code to override that count is a Bad Thing (TM).

Maybe split the methods into the TTW-callable `manage_{copy,paste}Objects` and an underlying `_{copy,paste}Objects` which takes that flag?

[2017-11-03 08:00] dataflake commented on #212
See PR #218

[2017-11-03 10:33] #212 closed

[2017-11-03 12:36] #179 closed

[2017-11-05 09:29] jan-jockusch commented on #217
In our use cases, using the TTW interface to move massive amounts of code via copy/paste is a normal thing in Zope. I'd have a hard time telling my users that they're attempting DoS in version 4 with an action that was totally OK in version 2.13.
If this is a serious concern, can we make the feature at least configurable, please? I can attempt a patch (since I'll have to make sure this works for m

[2017-11-05 13:01] hannosch commented on #217
We could also make the default size a zope.conf option and look it up from there.

I think gunicorn's `limit-request-field-size` (http://docs.gunicorn.org/en/stable/settings.html#limit-request-field-size) and waitress' `max_request_header_size` (https://docs.pylonsproject.org/projects/waitress/en/latest/arguments.html) serve a similar purpose here. Those apply length constraints on the size of all

[2017-11-05 16:54] tseaver opened #220 "OFS.History.Historical: make 'before' / 'after' hooks private (or remove them)"
TTW code should never call them:  they are a subclass-only interface.  But nobody uses them, so maybe just remove them.

[2017-11-07 08:06] icemac commented on #217
@jan-jockusch This problem only will strike you if you select many, many objects in a folder and copy them to another place. I do not think there is a problem when copying TTW as copying a folder needs only the reference (physical path) to the folder but not to each of its contained objects in the REQUEST.

The behaviour of `_cb_decode` described in this issue did not change beetween Zope 2.13 and

[2017-11-07 08:08] #211 closed

[2017-11-15 09:26] icemac commented on #217
See also https://stackoverflow.com/questions/17581962/copyerror-ofs-copysupport-manage-pasteobjects-limited-to-160-objects for a temporary solution.

[2017-11-16 12:48] bogi788 commented on #204
I've had some more time to look into this, and i'm fairly certain the problem is ZopeFieldStorage overriding the make_file method without checking the _binary_file attribute.

[2017-11-16 16:50] tseaver commented on #204
@bogi788 Thanks for doing the digging!  If you comment out `ZopeFieldStorage.make_file` in your code, does everything work as you expect?

[2017-11-16 17:57] bogi788 commented on #204
Yes, everything seems to work as it is supposed to without make_file (or with adding the if as in FieldStorage.make_file).

[2017-11-16 19:09] tseaver commented on #204
@hannosch Maybe we can just delete the `ZopeFieldStorage` altogether?  Or is it working around a 2.7 issue?  It has no tests, and its only purpose is to override `make_file` in a way which triggers this issue on 3.x.

[2017-11-16 22:57] hannosch commented on #204
@tseaver IIRC it was introduced as part of optimizing file uploads, which would directly end up as blobs. And in particular work around an issue, which only happened on Windows around when tempfiles would be closed and whether or not those were still accessible to be moved/copied.

I think the idea was to make sure an uploaded file could be moved directly into the blobstorage directory without cop

[2017-11-17 17:34] zmsdev opened #223 "Submitting larger text-content with form.enctype=multipart/form-data: TypeError: 'str' does not support the buffer interface"
Page-Template content for reproduction of error:

[code]

I get the following error, when I view the Page Template and try to submit the textarea (see below).
If the texteara contains less content, e.g. 'xyz' the form can be submitted without any problem:

[code]

Of course I could use form.enctype=In this simple example I could use application/x-www-form-urlencoded but the example should just dem

[2017-11-20 20:53] drfho opened #224 "bracketing error in ZPublisher.HTTPRequest:"
https://github.com/zopefoundation/Zope/blob/master/src/ZPublisher/HTTPRequest.py#L1480
[code]
Best regards
drfho

[2017-11-21 16:48] tseaver commented on #224
@drfho Thanks very much for the report!

[2017-11-21 16:59] #224 closed

[2017-11-30 20:45] mauritsvanrees opened #227 "Merge patches from PloneHotfix20171128"
On Tuesday November 28 2017 [PloneHotfix20171128](https://plone.org/security/hotfix/20171128) was released. Part of the patches should be merged to Zope, both the 2.13 branch and master. Or maybe other Zope-related packages.

This is a master ticket to track all pull requests. I will first list all items that need to be fixed. I will add a link to a PR when I create it (or when someone else has).

[2017-12-01 10:59] hannosch opened #230 "Enabling travis-ci tests for 2.13 branches of Zope dependencies"
I've just enabled recurring travis-ci tests for the 2.13 branches of Zope dependencies. These run once a month if they weren't triggered before that. Tests for master still run once a week, unless triggered by some other activity. This is using Travis-CI's "Cron Jobs" feature.

Given the recent setuptools/buildout/pypi changes, I expect most of these to fail, especially under Python 2.6, which is

[2017-12-05 15:05] dwt commented on #223
I can reproduce this problem with zope4-beta2 with python3.6, while it works with python2. (Which is to be expected as the bug smells like a python3 regression).

[2017-12-05 15:45] dwt commented on #223
This workaround seems to fix this issue for me:

[code]

Still working on a test.

[2017-12-05 17:09] tseaver commented on #223
I think we can just scrap `ZopeFieldStorage` altogether, leaving behind a BBB alias to `cgi.Fieldstorage`.

[2017-12-05 17:15] tseaver commented on #223
@zmsdev Can you try to reproduce with the branch in #233?

[2017-12-05 17:16] tseaver commented on #204
#233 just removes `ZopeFieldStorage`, leaving behind a BBB alias to `cgi.FieldStorage`.

[2017-12-05 17:23] zmsdev commented on #223
Thanks to all, #233 works perfectly fine and solves the problem for me!

[2017-12-05 17:23] #223 closed

[2017-12-05 17:34] dwt commented on #223
@tseaver: I was about to make a pull request - do you want to add the test I added to have better coverage for this in the future? (Not sure it matters if completely dropping the ZopeFieldStorage is the solution though)

Adding it here for posterity:

[code]

[2017-12-05 20:51] #204 closed

[2017-12-06 18:10] Julian commented on #162
Seems like it's down again.

[2017-12-07 06:43] icemac opened #234 "Copy older Zope releases on GH pages"
As [zope.org](http://zope.org) is currently expired I'd suggest to collect the older Zope releases and put them on https://zopefoundation.github.io/Zope/ aka https://github.com/zopefoundation/Zope/tree/gh-pages to be no longer dependent on the old infrastructure. Even the installation instructions could be moved over there.

Using the GitHub tags page (e. g. https://github.com/zopefoundation/Zope/

[2017-12-08 07:00] icemac commented on #196
What is the current status of this issue?
Is enough consensus reached that someone (maybe @frisi) can come up with a PR?

[2017-12-12 13:39] dwt opened #236 "Link Contributors agreement somewhere"
Hi all,

it seems all links to the contributors agreement file are currently down - can this be put on the GitHub page or into the documentation on rtd?

[2017-12-12 13:52] hannosch commented on #236
The contributer docs are on github at https://github.com/zopefoundation/developer_docs/tree/master/source including the committer agreement. It might make sense to move them into the zopetoolkit repo, which is hosted on readthedocs already and add links to that from the Zope docs.

[2017-12-13 21:06] taenzerme commented on #162
Yup, down again. Not really sure why. @jimfulton Any chance to put the docs source to github, too?

[2017-12-13 22:22] hannosch commented on #162
The zope book is available at http://zope.readthedocs.io/en/latest/zope2book/index.html for a while now

[2017-12-13 22:53] jimfulton commented on #162
And www.zope.org: http://wwwzopeorg.readthedocs.io/en/latest/ :-)

We don't control the domain registration for hysterical reasons.

I'm hopeful that will be resolved soon.

[2017-12-13 23:00] Julian commented on #162
The problem is just that those don't show up high in Google results :/...

On Dec 13, 2017 17:53, "Jim Fulton" <notifications@github.com> wrote:

[2017-12-18 09:37] dwt commented on #236
Thanks for the link - and +1 for linking it where you described.

[2017-12-18 20:35] mck9 commented on #162
download.zope.org is also gone. Plone depends on it. Any way to resolve it? Is there an alternative hostname available?

[2017-12-18 20:54] jimfulton commented on #162
Well, the IP is 46.4.103.110.  If someone want to set up a domain (perhaps a plone.org subdomain) that points to that, I'll set up a virtual host for it on that machine. (The machine is fine, it's the zope.org registration that's the problem.)

I'm hopeful that the zope.org registration mess will get resolved in a week or 2, but who knows.

[2018-01-17 09:14] #234 closed

[2018-01-17 09:17] icemac commented on #162
Both zope.org and download.zope.org are back online. Thank you to everyone who made it possible.

[2018-01-17 09:17] #162 closed

[2018-01-17 09:27] icemac opened #238 "Default exception view to render standard_error_message"
Legacy applications written for Zope 2 may use a customised `standard_error_message` to render a the error message. To ease the migration to Zope 4 and to keep supporting TTW code it would be nice to have an exception view in the Zope code which renders `standard_error_message` if it exists.

I blogged about a hackish solution: https://blog.gocept.com/2017/10/24/zope4-errorhandling/#back_to_standa

[2018-01-17 15:54] icemac opened #239 "ZMI: Restore Undo tab at least on root object"
The Undo tab was removed in Zope 4. There is currently no way to look into the transaction log using plain Zope. It would be nice to have it at least at the root object. Or is there another way which does not require external tools which I do not know?

Are there any specific reasons to remove the Undo support from the ZMI?

[2018-01-17 16:01] davisagli commented on #239
It was moved to the Control_Panel.

See https://groups.google.com/d/msg/zodb/uJkZZKkD4Nw/g5vBtgfvCQAJ for discussion of removing the association of transactions with particular objects.

[2018-01-17 16:05] icemac opened #240 "Python 3: File contents not rendered in ZMI"
When uploading a `text/plain` file to a `File` object in the ZMI Python 2 and Python 3 behave differently:

* Python 2: The file contents are rendered in the text area and can be edited
* Python 3: The text area renders something like `<File at my-file>` and prevents saving the form with `TypeError('Data can only be bytes or file-like. Unicode objects are expressly forbidden.',)` even when trying

[2018-01-19 20:40] loechel commented on #227
@icemac or @hannosch could you please look at that and merge those pull requests and cut an new release of those packages

[2018-01-20 08:12] icemac commented on #227
@loechel I'll look into it at the Alpine City Sprint next week.

[2018-01-25 14:45] mauritsvanrees commented on #227
All have been merged, and AccessControl releases made.
Now some Zope releases can be done.

[2018-01-26 09:58] icemac commented on #227
Closing the issue as all needed actions are done. The requested release is being prepared.

[2018-01-26 09:58] #227 closed

[2018-01-27 14:26] icemac opened #244 "update_index.sh fails"
It seems that this script is there to update https://zopefoundation.github.io/Zope/ when creating a release.

It fails with:

[code]

See https://travis-ci.org/zopefoundation/Zope/jobs/334099470

[2018-01-27 14:44] icemac opened #245 "https://zopefoundation.github.io produces a HTTP-404"
It would be nice if it render a Link to https://zopefoundation.github.io/Zope which currently seems to be the only page below the domain.

The documentation is here: https://help.github.com/categories/github-pages-basics/

[2018-01-27 21:01] jensens opened #246 "Update zExceptions to 4.0?"
it is pinned to 3.6, but 4.0 is the latest release. Is it by intend?
https://github.com/zopefoundation/Zope/blob/master/versions-prod.cfg#L43

[2018-02-02 13:18] #246 closed

[2018-02-02 13:19] icemac commented on #246
No this was not intended because the 4.0 release of zExceptions was made after the Zope 4.0b3 release.

[2018-02-02 13:31] icemac opened #247 "Renaming Image and File objects via ZMI is broken"
It results in the following traceback

[code]

Used version: master (aka 4.0b3)

[2018-02-02 13:41] icemac opened #248 "ZMI: items are strangely ordered"
I saw the following behaviour in the listen view (`manage_main`) of a `Folder` (_not_ the ordered one) in the ZMI of Zope 4:

When renaming an object it is sorted to the end of the list.

Expected behaviour: sort the list by the ids of the items (the links to sort the list in the browser do not exist any more.)

[2018-02-16 11:35] icemac opened #252 "Update Zope Developer’s Guide to Zope 4"
The Zope Developer’s Guide at https://zope.readthedocs.io/en/latest/zdgbook/index.html has many references to Zope 2 and should be updated to work with Zope 4 on Python 3.

[2018-02-22 07:35] #239 closed

[2018-02-22 07:36] icemac commented on #239
@davisagli Thank you for your answer. I (hopefully) improved the change log as even I was not aware of this change.

[2018-03-09 14:44] mauritsvanrees opened #253 "Add Products.ZCatalog 2.13.29 to versions.cfg of Zope 2.13"
I am talking about this file: http://download.zope.org/Zope2/index/2.13.26/versions.cfg
I'm not sure if it is wise to change that file, or if that should end up in a future 2.13.27 release.
I also don't know where this file is copied from, so where to change it.

Plone has its own adapted version of this, at http://dist.plone.org/versions/zope-2-13-26-versions.cfg. We had our own version for a whi

[2018-03-09 14:49] tseaver commented on #253
ISTM that we should *not* be updating the pinned version of any product for an already-released Zope2's `versions.cfg` file.

Those files represent the versions which were "known good" at the time the corresponding Zope2 release was made.  It should be standard practice that folks extend those files to provide local overrides.

[2018-03-09 14:52] mauritsvanrees commented on #253
Agreed. I updated the issue title to update the version in 2.13, so a future release.

[2018-03-09 20:02] icemac commented on #253
@mauritsvanrees Zope 2.13.26 is no longer the latest Zope2 release. In Innsbruck during the Alpine City Sprint I released version 2.13.27. Its version pins are on https://zopefoundation.github.io/Zope/ as the new canonical place. That new Zope version already contains `Products.ZCatalog = 2.13.29`.

@tseaver When creating the Zope 2.13.27 release I did not create a new index directory on download.

[2018-03-09 21:50] mauritsvanrees commented on #253
Gah! Did I *really* completely forget to update the Zope2 version pin in Plone??? I guess I was glad that my changes were merged and released, and then stopped thinking... :-( Well, I went on with other stuff at that same Alpine City Sprint, but anyway...

Sigh, my bad. I will take this up in Plone. (cc @esteele)

Sorry for the noise. I will close this issue.

[2018-03-09 21:50] #253 closed

[2018-03-09 23:01] idgserpro opened #254 "Fix for old svn.zope.org redirections"
I know this should be fixed ourselves as well in our documentation and in code comments, but since you already have a redirection in place for some old links, I opened this issue.

For example: http://svn.zope.org/zope.publisher/trunk/src/zope/publisher/browser.py?rev=101538&view=auto incorrectly goes to https://github.com/zopefoundation/zope.publisher/trunk/src/zope/publisher/browser.py?rev=10153

[2018-03-12 17:21] tseaver commented on #253
@icemac As long as we are no longer documenting the use of those index pages, I think we are fine to avoid creating them.

[2018-03-14 16:57] jugmac00 opened #255 "Errors in documentation"
1. https://docs.zope.org/zope2/zdgbook/Security.html#what-happens-when-you-make-a-mistake-making-securityinfo-declarations

"security.declareProtected(‘View’, ‘index_html’) # whoops, declared a conflicting permission on index_html!" should be included in the highlighted code block above

2. https://docs.zope.org/zope2/zdgbook/Security.html#inheritance-and-class-security-declarations

superclass  s

[2018-03-14 18:24] #255 closed

[2018-03-14 18:24] tseaver commented on #255
Thanks very much for the report!

[2018-03-14 18:36] jugmac00 commented on #255
Hi Tres, awesome response time! Proving once more Zope's not dead :-)

Sorry for not realizing I could have fixed the typos/formatting issues myself by creating a pull request - next time, promised!

[2018-03-14 18:41] tseaver commented on #255
@jugmac00 It was a case of fix it now, or forget it indefinitely. :)

In case you didn't know, you can hit the "pencil" icon on the repository page for the source file (`docs/zdgbook/Security.rst` in this case) and make your changes in the browser.  When you save them, you have the option to create a PR, or save them directly to the `master` branch.

[2018-03-17 11:53] aclark4life commented on #254
@idgserpro maybe ask @tseaver …

[2018-03-23 06:42] icemac commented on #254
Or @jimfulton maybe can fix this, too.

[2018-03-28 12:28] #247 closed

[2018-03-28 13:28] icemac opened #262 "Use constraints.txt during installation"
Currently we are using `requirements.txt` which installs all packages mentioned in the file. So we are currently installing `Products.ZCatalog` and some other packages although `Zope` does not depend on them.

It could be a solution to use only a minimal `requirements.txt` and a `constraints.txt` to pin the versions.
See the [pip user guide about constraints files](https://pip.pypa.io/en/stable/us

[2018-04-04 07:58] icemac commented on #3
Closing the issue as nothing happened here for years. Feel free to reopen it if you are willing to fix it.

[2018-04-04 07:58] #3 closed

[2018-04-11 17:02] vamsi4482 opened #266 "ZOracleDA support of zope-2.13.26 and above"
ZOracleDA not supported in zope-2.13.26.?
so how to connected to Oracle 11 and above DBs via zope-2.13.26

[2018-04-18 07:04] icemac opened #268 "Fix deprecation warnings shown at test run"
There are many deprecation warnings shown when running the tests, some even in packages Zope depends on. They should be fixed.

- [x] Products.ZCatalog: zopefoundation/Products.ZCatalog/issues/37
- [x] Products.BTreeFolder2: zopefoundation/Products.BTreeFolder2/pull/5
- [x] five/localsitemanager/localsitemanager.txt:1: `DeprecationWarning: zope.site.hooks has moved to zope.component.hooks. Import

[2018-04-19 07:32] icemac commented on #217
Fix needs to be ported to 2.13, too.

[2018-04-23 13:13] icemac opened #271 "ZMI: lines propery type does not render correctly"
In #206 lines property types where switched to always store bytes. Since that change they are rendered no longer correctly in the ZMI:

<img width="489" alt="zmi-4 0b4" src="https://user-images.githubusercontent.com/386619/39128497-308fc01e-4708-11e8-8e70-b9099c81edef.png">

Saving again adds a new layer of `b''` around the values of the lines property.
In contrast the `string` property type behav

[2018-04-23 13:31] gotcha commented on #271
I cannot reproduce this when running master.
Are you running an old Data.fs ? iow, would that be a migration issue ?

[2018-04-23 14:10] icemac commented on #217
Fixed via #269 (master) resp. #270 (2.13).

[2018-04-23 14:10] #217 closed

[2018-04-23 19:43] pbauer commented on #271
I can confirm this in a clean Zope instance.
<img width="390" alt="bildschirmfoto 2018-04-23 um 20 48 26" src="https://user-images.githubusercontent.com/453208/39146695-cb0357a8-4737-11e8-9ada-c68a2ca02772.png">

That values in lines-fields are bytes is the reason why creating a plone-instance fails at the moment.
The issue there is not a broken value like `'b"foo'"` but that Plone actually cannot

[2018-04-24 05:02] pbauer commented on #271
Saving multiple time creates funny results:
<img width="438" alt="bildschirmfoto 2018-04-24 um 06 59 58" src="https://user-images.githubusercontent.com/453208/39167079-7dd887d6-478d-11e8-85c2-efae5d0a4c49.png">

[2018-04-24 06:56] icemac commented on #271
@gotcha I used a freshly installed Zope 4.0b4 and I changed the properties of a PageTemplate object. Which type did you use where this behaviour does not occur?

[2018-04-24 06:58] icemac commented on #271
@pbauer Using `ulines` currently seems to be the safest way to deal with this issue.

[2018-04-24 08:53] gotcha commented on #271
@icemac My bad :-S
I was using Python 2.7 instead of Python 3.6.
Can reproduce

[2018-04-26 06:02] icemac opened #272 "Dokument how to use Zope with pipenv"
`pipenv` is now officially recommended for application dependency management, see https://packaging.python.org/guides/tool-recommendations/

We already document how to install Zope in a `virtualenv`: http://zope.readthedocs.io/en/latest/INSTALL-virtualenv.html

It would be nice to have documentation how to install it using `pipenv`.

To write this documentation maybe a helpful guide could be https

[2018-05-16 12:46] sallner commented on #166
Resolved by #181.

[2018-05-16 12:46] #166 closed

[2018-05-16 15:49] dwt opened #275 "[ZMI] Why are header / footer templates not rendered with the current object as context?"
(Sorry for the lengthy bug report that is actually a question, we're currently sprinting in Halle/ Germany and are trying to finish / clean up the pull request to facelift ZMI using bootstrap.)

The template parts that make up most of the ZMI are in `src/App/dtml` namely `manage_page_header.dtml` and `manage_page_footer.dtml` and for most ZMI parts also `manage_tabs.dtml`.

However the way these a

[2018-05-17 09:53] dwt commented on #275
I have tried out making Item a subclass of Navigation here https://github.com/zopefoundation/Zope/pull/249/commits/0973e514571b93077286982b831ba1bdc97e246d

And this seems not to break any Zope UnitTests. At least that. I'd still like guidance on whether this breaks any assumptions that anybody can remember.

[2018-05-17 11:54] sallner commented on #248
The sorting was most certainly removed during the feature reduction for Zope 4. In https://github.com/zopefoundation/Zope/blob/2.13/src/OFS/dtml/main.dtml#L121 the respective sorting can be seen in the dtml.

But as https://github.com/zopefoundation/Zope/pull/249 is actually changing the template to ZPT and `tal:repeat` does not support sorting like `dtml-in` we should find a appropriate solution

[2018-05-17 11:59] sallner opened #279 "ZMI: A `Folder (Ordered)` does not provide the ability to order the content."
In the current stage of the ZMI, it is not possible anymore to order the content of a `Folder (Ordered)`, but this should be fixed.

But as https://github.com/zopefoundation/Zope/pull/249 is actually changing the template to ZPT we should find a appropriate solution at the point of merge there.

Old template: https://github.com/zopefoundation/Zope/blob/2.13/src/OFS/dtml/main.dtml#L121

[2018-05-17 16:13] andbag commented on #268
PR created on https://github.com/zopefoundation/Products.ZCatalog/pull/38

[2018-05-18 07:33] tschorr opened #283 "Database errors when running Zope behind uwsgi with multiple workers"
`uwsgi.ini` contents:

[code]

Command line is `uwsgi --ini uwsgi.ini`.

When trying to access the ZMI, I see:

[code]

[2018-05-18 07:47] tschorr commented on #283
when trying to access a Plone site contained in the DB, I also see:

[code]

and

[code]

[2018-05-18 08:04] tschorr commented on #283
Using only one process but multiple threads seems to work:

[code]

[2018-05-18 08:19] icemac commented on #213
Currently the type column contains `Broken Because Product is Gone`. Maybe this issue is already fixed.

[2018-05-18 11:30] tschorr opened #284 "No response when running Zope+ZEO behind uwsgi"
When running `uwsgi --ini etc/uwsgi.ini` and Zope configured as ZEO client, Requests hang forever.

`uwsgi.ini`:

[code]

Waitress and ZEO seem to work fine.

[2018-05-18 11:32] tschorr commented on #284
number of threads doesn't make a difference in the result.

[2018-05-18 13:03] tschorr commented on #284
Maybe related: when run as ZEO client uwsgi always spawns 2 threads, even when run in single process mode and with Python thread support disabled (checked with ps -eLF).

[2018-05-18 16:20] tschorr commented on #284
Here's a working configuration:

[code]

--> the important part seems to be `master = false`. Increasing the number of processes and limiting the number of threads per process also works somehow, but the first request will always hang forever. The second and all following requests (e.g. in another browser tab) work as expected.

asyncio support (s.a.) also works, e.g.:

[code]

[2018-05-18 16:20] #284 closed

[2018-05-18 16:41] tschorr commented on #283
Like in #284 using `master = false` seems to resolve the issue when using a single process and either threads or asyncio workers.

When using multiple processes, I still get:

[code]

[2018-05-18 16:41] #283 closed

[2018-06-02 10:03] dataflake commented on #244
@icemac I don't see a script ``update_index.sh`` or any script that does a ``git push``.

[2018-06-02 10:30] dataflake commented on #245
The custom repository at https://github.com/zopefoundation/zopefoundation.github.io contains a ``Readme.md``, which gets rendered as the organization-level GitHub page you're now seeing at https://zopefoundation.github.io.

[2018-06-02 10:30] #245 closed

[2018-06-02 10:47] dataflake commented on #262
Right now we have requirements-full.txt with the additional packages, and for buildout we have versions-prod.cfg and versions.cfg, where versions.cfg is explicitly billed as the place for additional packages that are not strict dependencies. It's not clear where lines are drawn.

IMHO if you want to retain the versions.cfg/versions-prod.cfg split I'd first clean up versions-prod.cfg and move out a

[2018-06-02 10:50] dataflake commented on #266
Speaking about ZOracleDA itself, that code has not seen updates in more than 15 years and is clearly dead.

[2018-06-02 16:10] tseaver commented on #244
@icemac, @dataflake The script is called `build_index.sh`, and is on the [`gh-pages` branch](https://github.com/zopefoundation/Zope/blob/gh-pages/build_index.sh).

[2018-06-02 16:19] dataflake commented on #244
Yes, I know, and that script does not do a ``git push``, so I'm not sure what @icemac is referring to.

[2018-06-03 08:51] dataflake commented on #244
@icemac @tseaver OK, now I see what this is about because it's on the ``master`` branch, not on ``gh-pages``. It's a script Tres added in June 2017 to automate the GitHub page maintenance right out of Travis CI whenever Travis sees a new tag.

It looks like when the push URL is constructed the variable ``${GH_OAUTH_TOKEN}`` is empty. I don't know much about running scripts on Travis CI, should tha

[2018-06-04 11:41] icemac commented on #245
@dataflake 🏅 I absolutely like it!

[2018-06-07 06:10] icemac commented on #262
If I understand the meaning of `constraints.txt` correctly it can contain any package from `versions.cfg` and `versions-prod.cfg` as only the dependencies of the package (aka `Zope`)  are installed in the versions specified in `constraints.txt`. (The open question is: How to make sure that every package `Zope` depends on is mentioned in `constraints.txt`?)

Correct me if I'm wrong.

[2018-06-07 06:27] icemac commented on #244
@dataflake You are right I mean https://github.com/zopefoundation/Zope/blob/master/update_index.sh (It calls `build_index.sh` from the `gh-pages` branch internally.)

Maybe `${GH_OAUTH_TOKEN}` is no longer supported. I found a cheatsheet which uses an encrypted `GITHUB_TOKEN`: https://devhints.io/travis-gh-pages (But the page has no date on it 😞 )

[2018-06-07 06:54] dataflake commented on #262
I have to admit I've never read up on pip, I stick to buildout for all of my installs. My point was just that the split between different files, be it ``versions.cfg``/``versions-prod.cfg`` or ``requirements.txt``/``constraints.txt`` should be as clean and obvious as possible, and anything that's not really required should move out of ``versions-prod.cfg``/``requirements.txt``.

I think one of the

[2018-06-07 06:57] dataflake commented on #244
Don't forget, this is just a convenience script to automate the GitHub page build. If that can't be made to work without great effort IMHO it's totally fine to remove it and leave the manual procedure in place, which is documented at https://zopefoundation.github.io/Zope/HOWTO.html

[2018-06-08 07:33] icemac opened #287 "DTMLMethod: Unhandled ValueError on missing file upload"
When clicking `Upload file` on a DTMLMethod without having selected a file a `ValueError` is raised. It shows up as `Internal Server Error` in the browser. This is not helpful. A nicer error message would be expected.

The same might be true for `DTMLDocument`, `PageTemplate`, `PythonScript`, …

[2018-06-12 06:09] icemac commented on #262
@dataflake I think at least some of them are listed here because they are tested with the `bin/alltests` script. That means `versions.cfg` provides something like a known good set of package versions which run on that Zope version.

I go along with you that `versions-prod.cfg` should only contain the bare minimum as `requirements.txt` is generated from that file and `pip` installs everything what

[2018-06-14 04:35] Vhan11 opened #288 "Logo Enhancement"
Greetings !
I am a designer, about the creation or enhancement of your logo. Can i submit my design PO ?

[2018-06-14 05:08] #288 closed

[2018-06-29 13:06] icemac opened #291 "Activate Chameleon caching on hard disk by default"
Chameleon needs an environment variable pointing to a directory, see https://chameleon.readthedocs.io/en/latest/configuration.html#general-usage

Caching on hard disk speeds up using Chameleon PageTemplate a lot, even in tests.

~~At least it should be documented what to do when using Zope in an application.~~ Done in #461.

[2018-07-06 13:34] icemac opened #292 "User defined roles no longer show up in sub object"
Given I create a user defined role via ZMI or programmatically on the root folder
When I look onto the security tab (`manage_access`) of a sub-object
Then the user defined role does not show up

This only happens in Zope 4. Zope 2.13 does not have this issue.

I am not sure whether this is only a problem in the `manage_access` view or a deeper problem inside so the user defined role does not "exis

[2018-07-06 15:20] icemac commented on #292
Note to self:
What seems to help is https://github.com/zopefoundation/DocumentTemplate/compare/fix-zope-292

[2018-07-12 07:55] #292 closed

[2018-07-12 11:48] icemac commented on #292
Fix released in `DocumentTemplate` 3.0b4.

[2018-07-15 02:05] leorochael commented on #266
Since ZOracleDA is an add-on, it's the responsibility of the ZOracleDA codebase to to make sure it's compatible with newer Zope releases, rather the other way around.

I was going to suggest opening an issue against the ZOracleDA repository, wherever it is supposed to be, but a cursory search leads me to the same conclusion as @dataflake: it's dead and unmaintained.

[The page for the DCOracle2 di

[2018-07-15 02:05] #266 closed

[2018-07-19 09:47] jugmac00 opened #293 "Provide single source of documentation"
At the moment the Zope2 book is "officially" published both at
- https://docs.zope.org/zope2/zope2book/index.html and
- https://zope.readthedocs.io/en/latest/zope2book/index.html

On https://docs.zope.org/zope2/index.html additionally you can read:
"Release specific information can be found at: https://zope.readthedocs.org" - when clicking the link you get redirected to zope.readthedocs.io.

Do bo

[2018-08-17 14:46] icemac opened #306 "Finish Bootstrap ZMI"
After #249 is merged, the following things can be done to finish it:

- [ ] Remove https://github.com/zopefoundation/zmi.styles/blob/master/zmi/styles/resources/zmi_base.js#L87 from zmi.styles
- [ ] Port more (which?) forms

[2018-08-21 07:11] rbu commented on #306
Great, thanks a lot for the cleanup in #249 and merging it. @drfho, can you comment on which forms still need porting?

[2018-08-24 14:13] icemac opened #308 "Setting default-zpublisher-encoding in wsgi.conf breaks rendering on Python 2"
Setting `default-zpublisher-encoding utf-8` (or any other value instead of `utf-8`) in `wsgi.conf` breaks rendering of the pages with the following traceback:

[code]

The reason seems to be that [Zope2.Startup.datatypes.default_zpublisher_encoding()](https://github.com/zopefoundation/Zope/blob/master/src/Zope2/Startup/datatypes.py#L203) is called with a `unicode` value. [ZPublisher.HTTPResponse.H

[2018-08-24 17:33] tseaver commented on #308
Headers are definitely supposed to be native strings for WSGI.  I'm not sure if the response uses `self.charset` for anything else.

[2018-08-29 08:24] icemac opened #309 "manage_menu breaks on plone.testing"
When calling `http:/localhost/manage_menu` in a test environment where `plone.testing` is used
then the rendering breaks at [App/dtml/menu.dtml#L19](https://github.com/zopefoundation/Zope/blob/master/src/App/dtml/menu.dtml#L19) when trying to access `Control_Panel`.

The reason are some speed optimisations in `plone.testing`which prevent [OFS.Application.initialize](https://github.com/zopefoundati

[2018-08-30 06:48] icemac opened #310 "Missing ability to call run scripts."
In Zope 2.13 you could call: `bin/zopectl -C etc/zope.conf run script.py` to run a script with access to the `app`  object in the script. In Zope 4 (WSGI and ZServer variants) there currently seems to be no way to call such a script.

See also plone/plone.recipe.zope2instance#49.

[2018-08-30 08:09] icemac commented on #240
Ideas to resolve this issue:

* Add a `__str__` method for Python 3 returning a text representation of the file content to render the file in the browser.
* `manage_edit` gets a text representation: decode it to `bytes` in Python 3.
* As encoding the value of `management_page_charset` should be used . The default for this attribute is currently defined in [App/dtml/manage_page_header.dtml](https:/

[2018-09-03 08:56] icemac opened #311 "broken objects are rendered with the ID `broken` in ZMI"
This prevents from deleting them via ZMI because the ID and thus the URLs are wrong.

This seems to be the case since the merge of #249.

See screenshot:
<img width="891" alt="bildschirmfoto 2018-09-03 um 10 53 20" src="https://user-images.githubusercontent.com/386619/44977273-e992bb80-af67-11e8-912a-78f7bb672c85.png">

[2018-09-04 13:57] icemac opened #313 "Remove support for `management_page_charset`"
It does not seem to be a good idea to define different values for `management_page_charset` on different folders in a zope application. This is especially true on Python 3 where [processInputs()](https://github.com/zopefoundation/Zope/blob/master/src/ZPublisher/HTTPRequest.py#L508) converts the inputs to text. The default encoding used is `UTF-8`. There is no way to access the `management_page_cha

[2018-09-04 14:08] icemac commented on #240
Instead of a `default_management_page_charset` I'd prefer to remove the support for `management_page_charset` now, see #313.

[2018-09-04 18:16] tseaver commented on #311
I don't see anything in the diff for #249 which would have changed this (the string `broken` only appears in the `brokenEdit.dtml` part of the diff.

[2018-09-13 09:35] OcEtEc opened #315 "ZMI not correctly displayed"
Dear all,
I'm currently playing with new ZOPE version.
I've installed 4.0b5 successfully.
But the ZMI is not displayed correctly, no icons are display.
Please take a look at the screenshot:
![grafik](https://user-images.githubusercontent.com/16932568/45480299-f8882380-b748-11e8-9672-21f86652943f.png)

Did I something wrong?

Thx

[2018-09-14 05:31] icemac commented on #315
@OcEtEc You are seeing the initial Zope 4 ZMI version which was reduced to a bare minimum. In #249 a Bootstrap variant of the ZMI was developed which looks way better. It will be released around October, 5th.

[2018-09-14 05:31] #315 closed

[2018-09-15 10:51] garrysadd opened #316 "ZSQLmethods broken in master"
When adding a ZSQLmethod I get this:

Resource not found

Sorry, the requested resource does not exist.
Check the URL and try again.

Resource: manage_manage_addZSQLMethod POST

Anyone know how to get round this?

[2018-09-17 04:37] rafaelbco commented on #25
If you do not use WebDAV a simple workaround it to put the following on a Python file which is loaded at Zope initialization time (typically a `__init__.py` file):

[code]

[2018-09-17 14:50] tseaver commented on #316
Duplicate of https://github.com/zopefoundation/Products.ZSQLMethods/issues/9.

[2018-09-19 11:30] pbauer commented on #308
I just ran into the same issue. `ZConfigParser` uses `self.file.readline()` for a `io.StringIO` which returns each line in  `zope.conf` as unicode in Python 2.
Changing the value in `default_zpublisher_encoding` with `value = str(value )` fixes the immediate issue but wonder if there are more issues further on when all other values (e.g. file-paths) are unicode. I did not see any problems though.

[2018-09-20 05:57] icemac commented on #308
@pbauer This would be my solution, too. It think restores the behaviour of older ZConfig versions and is a noop on Python 3.

[2018-09-20 15:41] ZeddZull opened #317 "SiteAccess : feature request, replace wildcard in virtual url by host sub domain name"
Hello,

I want to allow VirtualHostMonster to replace wildcard in virtual url by host sub domain name,
which we'll need in our project, here some example:
`/VirtualHostBase//https/couscous.example.org:443/folder/*//VirtualHostRoot/`
will render `/folder/couscous/`  with url `https://couscous.example.org/`
I already modify my zope and have a working demo, is it something wanted for you?
Could i ope

[2018-09-20 16:05] tseaver commented on #317
Your example has `couscous.example.org` in the base as well as matching the wildcard, so I'm not sure I understand the feature.  A PR would be fine, and might clarify the intent.

[2018-09-25 11:40] icemac commented on #236
Maybe this could be solved via https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2018-09-26 09:42] rbu commented on #311
Let's put this on the agenda for the sprint

cc @drfho @dwt

[2018-09-26 11:05] icemac commented on #311
@rbu I already put it to
https://github.com/orgs/zopefoundation/projects/1#card-12950537

[2018-09-26 14:43] rbu commented on #293
Good idea, let's use the sprint next week to find out who has access to the docs site and put in redirects.

[2018-09-27 14:38] pbauer opened #319 "PageTemplateFiles are returned as bytes when they are xml"
See https://github.com/zopefoundation/Zope/blob/master/src/Products/PageTemplates/PageTemplateFile.py#L160

Among other things this breaks export of content with GenericSetup (see https://github.com/plone/Products.CMFPlone/commit/b283232e574b838f5190a9ecafe82b10ee0aaf1e#diff-05db58afb7ec9f5d9327a90968d6e570R632)

[2018-09-28 15:16] icemac opened #321 "Deleted AccessRule makes migration difficult"
In Zope 4 the `AccessRule` class was removed. When using a ZODB created using Zope 2 sometime unpicking errors occur because of the missing `AccessRule` class. This happens in a project which does not explicitly use access rules but only CMFCore.

[2018-09-29 05:23] icemac opened #322 "Add support for Python 3.7"
It is needed for `Zope` itself and for all packages it depends on.

[2018-10-01 07:11] icemac opened #323 "Error handling in ZMI"
Currently nearly all exceptions lead to a HTTP-500.

Task: Implement error handling in a way that makes the ZMI usable even when entering invalid data to fields.

Ideas:

* Error page like in Zope 2
* Catch certain errors and render them inline

[2018-10-01 09:46] jugmac00 opened #324 "Improve "Installing Zope in a virtualenv""
When trying to install Zope on a fresh installation of Ubuntu 18.04 I encountered several errors.

1. In order to create a virtualenv I had to install it beforehands:
`sudo apt-get install python3-venv`

2. The first run of pip install resulted in an gcc error, which was thrown at "include Python.h"
I had to install python3-dev via
`sudo apt-get install python3-dev`
cf https://stackoverflow.com/qu

[2018-10-01 11:12] viktordick commented on #316
The problem is not in ZSQLMethods after all. It stems from the handling of modal dialogs for adding objects, which trys to replace the form action. It breaks for ZSQLMethods - the URL is changed from `manage_addZSQLMethod` to `http://localhost/manage_manage_addZSQLMethod`.

A related problem occurs if adding a python script, closing the modal dialog and reopening it - the URL is rewritten twice, w

[2018-10-01 13:34] sallner opened #327 "[ZMI] Modal dialog for addItem does not work after abort."
With the current [addItem](https://github.com/zopefoundation/Zope/blob/41ac1771a379cc010151f8452da59285ecf75fc0/src/zmi/styles/resources/zmi_base.js#L46) in ZMI the `ajaxComplete`-callback is added multiple times if the modal dialog is opened multiple times without page reload, e.g. by aborting a modal.

[2018-10-01 14:19] viktordick commented on #248
The original behavior can not be reproduced, if I rename an object, it is sorted correctly.

There is still a difference in the sorting: In Zope 2.13, objects with IDs that start with a capital letter were sorted to the beginning, this is no longer the case.

[2018-10-01 15:42] viktordick commented on #248
Related problem: if broken objects are part of the currently shown folder, the sorting code (in Products.sequencesort) breaks:

    2018-10-01 17:30:26 - ERROR [waitress] Exception when serving /manage_main
    Traceback (most recent call last):
      File "/home/vdick/Zope4/lib/python3.6/site-packages/chameleon/template.py", line 183, in render
        self._render(stream, econtext, rcontext)

[2018-10-01 15:45] #316 closed

[2018-10-01 15:45] #327 closed

[2018-10-01 17:00] dwt opened #332 "TreeTagDisplay explodes when viewing Products.CMFCore.DirectoryView"
To reproduce

1. Install Products.CMFCore
2. Instantiate FilesystemDirectoryView in the root folder of the zodb
3. switch to the two frame display and watch the left frame explode

The traceback looks like this for me:

[code]

I suspect that this TreeTag should be robust against this error condition - but maybe this is really an issue in Products.CMFCore

[2018-10-01 17:10] dwt commented on #332
Actually, this should be on DocumentTemplate, moving it there.

[2018-10-01 17:10] #332 closed

[2018-10-02 07:39] #319 closed

[2018-10-02 08:17] #240 closed

[2018-10-02 08:30] icemac opened #333 "Rename versions `master` to `latest`"
The `master` on https://zopefoundation.github.io/Zope/ is not always in sync with the master branch so it should be called e. g. `latest`.

[2018-10-02 10:17] viktordick commented on #311
At the moment, broken objects prevent the ZMI from being rendered at all, due to the same issue.
The problem is that `main.zpt` iterates over `objectValues()` (instead of `objectItems()`, like it was done in `main.dtml` in 2.13). This relies on the object itself providing information like its ID, which is not the case for broken objects (and might even in some weird cases differ from the ID under

[2018-10-02 14:29] viktordick commented on #279
Also, the ordering of a Folder (Ordered) is not shown in the management interface.

[2018-10-02 14:50] dwt commented on #306
Switching the side frame only works for folder-ish types. I'll have a look if that can be fixed

[2018-10-02 14:51] dwt commented on #306
Regarding the Forms: There are lots of forms left in lots of projects - that will have to be a longer process that continues after the sprint.

[2018-10-02 17:16] dwt commented on #306
I would suggest splitting off the 'port more forms' subtask into it's own ticket.

[2018-10-03 09:11] icemac opened #341 "Testing.testbrowser.Browser should have a basic auth login method"
Currently you have to write:

[code]

The new method should be used in the tests inside Zope.

[2018-10-03 09:17] icemac opened #342 "Add layer to load ZCML"
Some tests need the ZCML to be loaded, currently each tests calls:

[code]

It has to be done in each test needing loaded ZCML because Zope has many tests which call `zope.testing.cleanup.cleanUp()` which then cleans the component registry.

This should be done on a zope.testrunner layer. This layer should be used in the Zope tests.

[2018-10-03 09:25] icemac opened #343 "Port remaining forms to Bootstrap ZMI"
There are some forms left which should be ported. They are recognisable by the text in the footer that they have been touched by Javascript to make them look nicer.

This issue can be used to list the remaining forms.
See https://zope.readthedocs.io/en/latest/ZMI.html#update-your-zope-2-zmi-template-code how to port a template.

[2018-10-03 09:52] #213 closed

[2018-10-03 09:52] #311 closed

[2018-10-03 10:14] #272 closed

[2018-10-03 11:49] icemac opened #345 "Test Zope on Windows"
It would be nice to test Zope on Windows using AppVeyor.

[2018-10-03 12:03] icemac commented on #220
They were removed in 34e6f304fe12bccba758d88d2ea1f3f3ade6a114 which is part of Zope 4.0a2.

[2018-10-03 12:03] #220 closed

[2018-10-03 12:54] #333 closed

[2018-10-03 13:04] #279 closed

[2018-10-04 09:03] #308 closed

[2018-10-04 09:57] #262 closed

[2018-10-04 12:39] #309 closed

[2018-10-04 12:48] icemac opened #357 "PageTemplate: Unhandled ValueError on missing file upload"
When clicking `Upload file` on a PageTemplate without having selected a file a `ValueError` is raised. It shows up as `Internal Server Error` in the browser. This is not helpful. A nicer error message would be expected.

[2018-10-04 12:50] icemac commented on #287
PageTemplate, see #357
PythonScript, see zopefoundation/Products.PythonScripts#21

[2018-10-04 13:00] icemac commented on #323
This is not really nice as in Zope 2 is was achieved by exceptions having arguments containing HTML.
The only place where such exceptions can be catched is in the WSGIPublisher. But these exceptions are even outside the normal error handling via error pages.

This has to be done instead of raising exceptions.
`manage_tabs` uses the argument `manage_tabs_message` to render a message.
#356 add `mana

[2018-10-04 13:00] #323 closed

[2018-10-04 13:02] icemac commented on #275
Closing as this question was not answered, maybe it cannot be answered any more and the solution in 0973e51 does not break anything.

[2018-10-04 13:02] #275 closed

[2018-10-04 15:52] jmevissen opened #360 "Zope 4: ZMI Database Manager raises LockError"
Running python 3.6.5 / Zope 4.0b6.dev0

ZMI Control_Panel Databases
http://localhost:6543/Control_Panel/Database/manage_main

Opening for database with id 'main'
http://localhost:6543/Control_Panel/Database/main/manage_main
-> raises Error with no traceback in console

Debug in Zope/App/ApplicationManager.py in class DatabaseChooser / method __getitem__
when: db = configuration.dbtab.getDatabase(n

[2018-10-05 08:13] icemac opened #363 "Get rid of PasteDeploy"
According to https://pypi.org/project/PasteDeploy/ it only supports Python 3.3 and the latest release is from 2013. This project seems to be dead.

I did not yet look into Zope where it is used but it is in the list of Zope's dependencies.

[2018-10-05 09:09] icemac commented on #360
`LockError: Couldn't lock` mostly means that there is already a Zope instance running.

[2018-10-05 12:18] jugmac00 opened #365 "Shutdown https://bugs.launchpad.net/zope2"
... or at least make it read only, and maybe provide a link to our Github site.

https://bugs.launchpad.net/zope2

[2018-10-05 15:29] jugmac00 opened #366 "Improve document for installing via buildout"
`src/zope/proxy/_zope_proxy_proxy.c:27:10: fatal error: Python.h: No such file or directory
 #include "Python.h"
          ^~~~~~~~~~
compilation terminated.
`

Installation failed on Python 2 / Ubuntu 18.04.

`sudo apt-get install python-dev`
will do the job ( I hope . it'll take 60 minutes on ICE wifi :-( )

I suggest to add a notice to the installation document, similar the virtualenv installat

[2018-10-05 19:22] jensens opened #368 "Package ipaddress only needed in Python 2"
``ipaddress`` is part of Python 3.3+ standard library.
https://github.com/zopefoundation/Zope/blob/6806c482ce1ab87e8828a423ae4bb37616b84c9a/setup.py#L73

It works as-is, but one get then the following at buildout time.

[code]

[2018-10-09 13:06] rbu commented on #333
Thanks for the change, that's a good idea!

[2018-10-10 10:05] icemac commented on #252
@jugmac00 Thank you very much. I added a checklist to the issue description.

[2018-10-10 15:19] #322 closed

[2018-10-10 15:28] icemac opened #369 "Complete Python 2 -> 3 migration story"
In #285 the current status is documented and merged to `master`.

Tasks:

- [x] Try migration on an actual database
- [ ] Improve documentation. (See also plone/Products.CMFPlone#2525)

[2018-10-11 05:48] viktordick commented on #313
I did the following test on b3e7c5aca4a66d0aa4b8151e6f89170bd75fee6c (currently master):

- set `management_page_charset` to `latin1`
- add a File with content 'hällo' and try to save
This results in

    UnicodeEncodeError: 'latin-1' codec can't encode character '\ufffd' in position 1: ordinal not in range(256)

If, on the other hand, I set `default-zpublisher-encoding` to `latin1` and `managemen

[2018-10-11 08:35] icemac commented on #310
Fixed by #337.

[2018-10-11 08:35] #310 closed

[2018-10-11 18:38] tseaver opened #372 "mkwsgiinstance: Fails under Py3k on Unix filesystem"
In a fresh Zope 4.0b6 install:

[code]

Debugging, the issue is that `ZOPE2PATH` is bytes.

[2018-10-14 09:41] wlang42 opened #375 "password possibly revealed in ZPublisher.HTTPRequest.text method"
The Zope class ``ZPublisher.HTTPRequest`` has a ``__str__`` method, which
renders the request data in HTML. Accompaning to it, there is also a
``text`` method, which returns exactly the same data in text
representation. With one exception: in opposition to ``__str__`` the
text method does not suppress displaying the password.

In the Patch below the ``text()`` method uses the same
``_filterPasswor

[2018-10-15 18:31] tomgross opened #377 "Zope2 shim egg should be upgraded to 4.0 for final"
Currently (Zope 4.0b6) the Zope2 shim eggs version is _4.0b1_ but should point to 4.0 (final) so pipenv does not need to use the --pre flag anymore.

Other packages are affected as well:
- [x] DocumentTemplate 3.0b5
- [x] Persistence 3.0b4
- [x] RestrictedPython 4.0b6
- [x] AccessControl 4.0b6

[2018-10-15 18:34] tomgross opened #378 "Provide screenshots and/or video of new ZMI"
For promotional purposes some screenshots of the new and shiny ZMI should be included in the documentation.

Also an animated gif (like in https://github.com/pypa/pipenv/blob/master/README.md) would be cool.

[2018-10-16 09:13] icemac commented on #378
Great idea, a PR is welcome.

[2018-10-16 09:14] icemac commented on #377
I will do this for the final Zope 4 release.

[2018-10-18 06:16] icemac opened #379 "Restore physical path in __repr__ of Zope objects"
When using `persistent < 4.4` the `__repr__` of Zope objects contained the physical path of the object. Now it contains way more technical information about the OID and the connection. This breaks especially doctests and does not seem to be helpful in 80 % of the use cases where the physical path contains way more information than the OID.

Suggested solution:

* Add a `__repr__` method to `OFS.Si

[2018-10-19 12:55] icemac opened #381 "DTML Document breaks if non-ASCII chars in URL"
If the `id` of a `DTML Document` contains a non-ASCII char (allowed since #181) it breaks while rendering in the ZMI.
Only Python 2 is affected.

[2018-10-19 12:58] icemac opened #382 "PageTemplate breaks on non-ASCII char in URL"
If the `id` of a PageTemplate created TTW contains a non-ASCII char (allowed since #181) it renders an error message in the ZMI telling that there is something wrong with the template code. But the error persists after removing the default template code.

Python 2 and 3 are affected.

[2018-10-20 08:39] aodag commented on #372
FYI: on windows, I got same error.

[code]

[2018-10-20 12:46] gandie commented on #372
I quick-fixed that by replacing the line:
`text = text.replace("<<%s>>" % k, replacements[k])`
with
`text = text.replace("<<%s>>" % k, str(replacements[k]))`
Got a working instance after that, hope this helps.

[2018-10-22 13:53] icemac opened #384 "bin/zconsole debug should mention `app`."
When starting a debug console using `bin/zconsole debug path/to/zope.conf` it should print a statement about the variable `app` being bound to the application object.

[2018-10-23 06:20] icemac opened #385 "Update to current releases of dependencies"
- [x] `persistent >= 4.4.3` to get fixes for `__repr__` #386
- [x] zopefoundation/ZODB#226 and zopefoundation/transaction#68 #388

[2018-10-23 11:27] #368 closed

[2018-10-23 13:31] icemac commented on #360
I am not able to reproduce this error using the current master of Zope.
http://localhost:8080/Control_Panel/Database/main/manage_main renders nicely. Maybe this is a problem in `plone.app.debugtoolbar`.

[2018-10-23 13:31] #360 closed

[2018-10-24 14:27] icemac opened #389 "Pimp Manifest"
Currently we include too much so we have to globally exclude some stuff which shows up as log message during install telling that there is nothing to exclude.

[2018-10-24 15:22] dwt opened #390 "transaction==2.4.0 seems incompatible with WSGI-Publisher"
I'm not completely sure I've got it right, but it seems that this pull request https://github.com/zopefoundation/transaction/commit/d2b90a701a7d718e0a5f86dd85e50c818611c500 has broken this check https://github.com/zopefoundation/Zope/blob/master/src/ZPublisher/WSGIPublisher.py#L226

As far as I understand it, the Transaction manager is now a ThreadLocalWrapper and doesn't have this private attribu

[2018-10-24 15:22] dwt commented on #390
The problem I'm seeing is that after startup, with the newest transaction manager Zope immediately explodes on the first request in the linked line.

[2018-10-24 18:15] icemac commented on #390
@dwt Does it also fail with the changes made in #388?

[2018-10-26 05:33] icemac opened #391 "Id starting with # makes item not editable in ZMI"
I can create an object in the ZMI those name starts with `#`. When trying to access it from the folder listing view (`manage_main`) the URL is wrong.

Example:
* Given the id is `#375` and the object was created inside the root folder.
* When I want to access the file in the listing view aka http://localhost:8080/manage_main
* Then the URL of the object is http://localhost:8080/manage_main#375/man

[2018-10-26 05:34] #385 closed

[2018-10-26 06:13] icemac commented on #375
@wlang42 Thank you very much for reporting and fixing this issue. I included the fix for the next Zope 4 release.

Fixed in #376.

[2018-10-26 06:13] #375 closed

[2018-10-27 05:42] pbauer commented on #379
With https://github.com/zopefoundation/Zope/pull/392 I set `_p_repr` as suggested by @jamadden in https://github.com/plone/Products.CMFPlone/issues/2590#issuecomment-433494485. With this we only need to add `PathReprProvider` to `OFS.SimpleItem.Item`. We might even move it to the end of the base-classes and no longer need to inherit from `Base`.

[2018-10-30 08:45] icemac commented on #379
As #392 was not merged I am going to close this issue here again.

[2018-10-30 08:45] #379 closed

[2018-11-07 07:40] #317 closed

[2018-11-11 12:23] pbauer opened #397 "BrowserViews implement IPublishTraverse in Zope 4 which breaks allowed_attributes and allowed_interface"
In Zope 4 a `BrowserView` always implements `IPublishTraverse` which it did not in Zope 2.
This breaks the way to make methods traveseable using `allowed_attributes` and `allowed_interface` in zcml.

Example:

[code]
dummy.py:

[code]

In Zope 2 (Plone 5.1) http://0.0.0.0:8080/Plone/foo/bar returned `foobar`. In Zope 4 (Plone 5.2) that throws a 404.

The relavant code is in `BaseRequest.traverseNa

[2018-11-19 07:19] icemac opened #401 "Python 2: Encoding problem in breadcrumbs"
When using non-ASCII characters in the id of an object the id is not rendered correctly in the breadcrumbs in the ZMI. This only happens on Python 2.7, Python 3 behaves correctly.

Example:
![bildschirmfoto 2018-11-19 um 08 18 57](https://user-images.githubusercontent.com/386619/48691707-cfb25d80-ebd3-11e8-914c-d17ee0d4a218.png)

[2018-11-22 01:42] #366 closed

[2018-11-22 13:19] #341 closed

[2018-11-22 13:42] #357 closed

[2018-11-22 17:07] pbauer commented on #397
Anyone have a idea how to deal with this? The commits that refactorded `metaconfigure.py` in `Products.Five` in 2012 are all anonymous so I have no idea who to ask.
@hannosch @davisagli @icemac maybe?

[2018-11-22 18:11] pbauer commented on #397
I found out that Yuppie was the author of the changes in `metaconfigure.py` in Juli 2012. The changes can be seen here: https://github.com/zopefoundation/Zope/compare/9bc2e7f0b64ff887891e4d8a7dc17e496bdf29df...5d3a1897026a37d8bd2bc0fa7d63c928f0f4dbe4#diff-07e7c9ede74179e51681b733a2137b03 and also here: https://github.com/zopefoundation/Zope/commits/master/src/Products/Five/browser/metaconfigure.py

[2018-11-27 08:47] sallner commented on #363
I was also not able to find any source repository. There nothing left  under http://bitbucket.org/ianb/pastedeploy.

[2018-11-27 19:40] tseaver commented on #363
The repository has moved under the Pylons organization: https://github.com/Pylons/pastedeploy

[2018-11-28 14:38] icemac opened #406 "FindSupport is not able to handle bytes data"
If `PrincipiaSearchSource` is called on a `File` or an `Image` it returns `bytes` but the search string is `text` which leads to an to `TypeError: a bytes-like object is required, not 'str'` in

https://github.com/zopefoundation/Zope/blob/478319637795508082823eeabe907e34322b1fe2/src/OFS/FindSupport.py#L130

The same exception might happen two lines later on in

https://github.com/zopefoundation/Zo

[2018-11-29 07:11] icemac commented on #363
@tseaver Thank you for the link.

I was searching for `PasteDeploy` in the `Zope` source code and did not find it to be used besides in `setup.py`. It seems that the dependency could be safely removed.

[2018-11-29 17:48] dataflake commented on #313
Can't speak for everybody, but I've never has a use for `management_page_charset` myself. IMHO anything that simplifies that whole string encoding topic is very welcome.

[2018-11-29 18:10] tseaver commented on #363
[code]

[2018-11-30 07:24] icemac opened #408 "src/Zope2/Startup/serve.py seems untested"
The discussion in #363 reviled that `src/Zope2/Startup/serve.py` seems to be completely untested.
See https://coveralls.io/builds/20361788/source?filename=src/Zope2/Startup/serve.py

There should be at least some tests.

[2018-12-01 19:31] azapletal opened #409 "DTML Document: Properties tab missing?"
ZMI in 4.0b7 does not show the tab.
Adding, manipulating etc. of properties  (e.g. via python script) works as expected.

[2018-12-03 00:48] dataflake commented on #409
Looks like the Properties tab fell victim to Hanno's great cleanup two years ago and was never resurrected. Doing it now.

[2018-12-03 00:48] #409 closed

[2018-12-04 09:48] d-maurer opened #411 "Reliable detecting the Zope version"
Add-ons interacting with the ZMI need to provide different templates for Zope 2 (old style ZMI) and Zope 4 (bootstrap based ZMI). Therefore, there is a need to reliable distinguish those versions -- potentially via a mechanism analogous to Python's `sys.version_info`.

[2018-12-04 10:07] d-maurer commented on #411
`Zope 2` used to have a function `getZopeVersion` in `App.version_txt` for this purpose. This function seems to have been lost. Can it be restored?

[2018-12-07 07:21] icemac commented on #411
Nowadays I'd use `pkg_resources` to get the version number like this:
[code]

Could it be a solution in your use case, too?

[2018-12-07 09:03] d-maurer commented on #411
In fact, Zope2's `getZopeVersion` already used this approach internally. But, it employs an impressive regular expression to extract and repackage the version information -- code I would not like to reproduce.

There is another disadvantage with your proposed solution for my current use case, i.e. making extensions working fine in both "Zope2" and "Zope 4+". For "Zope2", I must look at the distrib

[2018-12-07 10:35] icemac commented on #411
@d-maurer I get your point. I added this issue to the list of open issues for the final release. A pull request is highly welcome.

Note to the one who will fix this issue: `getZopeVersion()` was removed in eb3b5a12d6378fb7cdfce09e4beb9bafabb644ea.

[2018-12-10 13:45] icemac opened #413 "Retry on ConflictError is broken"
Retrying of requests in case of an `ConflictError` is broken on multiple levels:

- [x] [HTTPRequest.retry_max_count = 0](https://github.com/zopefoundation/Zope/blob/master/src/ZPublisher/HTTPRequest.py#L177) meaning no retries by default. This default is not not changed when setting `max_conflict_retries` in zope.conf See [1] below.
- [ ] If an exception view for `Exception` is reqistered it has

[2018-12-11 10:49] zopyx opened #415 "DeprecationWarning: 'U' mode is deprecated"
[code]

[2018-12-11 15:37] zopyx opened #416 "fast-listen equivalent on with WSGI server"
In Zope 2 it was possible open to the listener port early instead of the end of the startup phase. It might be controversial if this  is a good thing or not - at least it is convenient during the development phase when you start up an instance that might take some time (e.g. Plone with many add-ons) and start the first request (and do something different inbetween until Plone renders the first pag

[2018-12-11 15:39] icemac commented on #415
Hm, https://github.com/zopefoundation/Zope/blob/master/src/Zope2/Startup/serve.py#L219 ends at line 219 What's on your line 273?

[2018-12-11 15:42] zopyx commented on #415
same here...the error message is misleading or at least somehow shadowing the right location

[2018-12-12 07:34] icemac commented on #415
@zopyx Could you please grep the code in your instance for `'U'` resp `"U"` where it does come from?

[2018-12-18 07:12] icemac opened #434 "Use project_urls in setup.py"
It improves the PyPI page by rendering links on a defined place, see
https://packaging.python.org/guides/distributing-packages-using-setuptools/?highlight=project%20urls#project-urls

[2018-12-18 07:30] icemac commented on #416
It seems to be a good idea but I even did not know about this feature in Zope 2.

[2018-12-18 10:41] zopyx opened #435 "Improper handling with non-ascii characters in response.redirect() in Zope 4/Python 3"
Situation:
- user enters the name of form which is send as parameter `name:unicode` to Plone 5.2/Python 3
- the browser view receives the parameter as `str` and creates response.redirect to
  `self.context.absolute() + '/view' + name`. In my case this is `/Plone2/s3/view/ä`
- the browser redirects to `/Plone2/s3/view/%E4`  and waitress throws this exception:

[code]

My browser view can clearly de

[2018-12-18 10:59] zopyx commented on #435
I think that the redirect() call generates an improper redirection URL here:

The correct redirection URL for `/Plone2/s3/view/ä` must be `/Plone2/s3/view/%C3%A4` but not `/Plone2/s3/view/%E4`.

[2018-12-22 19:47] jugmac00 opened #437 "ZMI shows internal server error instead of proper error message"
... when hitting "Show permissions" for an unknown user name on the security tab in ZMI.

Reproduction:
- pull current head of Zope ( 5d315a6d68ee31dbc2656a034c6026a7110651d3 )
- buildout && makeinstance
- visit ZMI
- for index_html open tab "security"
- enter a fabricated/unknown user name and hit "Show permissions"

You'll get

Internal Server Error
The server encountered an unexpected internal

[2018-12-22 21:14] jugmac00 opened #438 "Z_REALM seems to be unused"
I am planning to rework https://zope.readthedocs.io/en/latest/zdgbook/ObjectPublishing.html for the final Zope 4 release.

In chapter 4.11 I stumbled upon the "Z_REALM" environment variable.

Grepping the source only revealed one hit, where the value gets set by a function called "http_realm" in handlers.py.
https://github.com/zopefoundation/Zope/blob/5d315a6d68ee31dbc2656a034c6026a7110651d3/src/Z

[2018-12-29 13:16] jugmac00 opened #443 "URL for revised Zope 2 book"
Once the Zope 2 book gets revised for the upcoming release of Zope 4, what will be the URL for it?

Currently it is
https://zope.readthedocs.io/en/latest/zope2book/

Will we keep the Zope 2 book and its URL and create a new one for the Zope 4 book?

Or delete the old one and replace it with the new one and a possible new URL?

There are lots of references out there to the Zope 2 book - also still

[2018-12-30 07:53] jugmac00 opened #444 "PROFILE_PUBLISHER seems to be unused"
Revising the "object publishing" chapter of the Zope developer's guide, I found two references in the documentation only to PROFILE_PUBLISHER.

- this environment variable gets nowhere read in the source code

So I'd think it is no more present.

Is it ok to remove the sections in the documentation referencing this variable?

[2019-01-01 13:02] jugmac00 opened #445 "Z_DEBUG_MODE seems to be unused"
cf https://zope.readthedocs.io/en/latest/zdgbook/ObjectPublishing.html#environment-variables

When grepping the source code, Z_DEBUG_MODE only gets set twice in

https://github.com/zopefoundation/Zope/blob/5d315a6d68ee31dbc2656a034c6026a7110651d3/src/Zope2/Startup/handlers.py#L49

and

https://github.com/zopefoundation/ZServer/blob/b690f57872dfff4792abba7c5763300c88dec0a1/src/ZServer/Zope2/Startup

[2019-01-02 12:05] zopyx opened #447 "ZPublisher expecting a stream iterator providing a valid length"
We have this IStreamIterator implementation

[code]

The stream iterator operates on top of `PyFilesystem`. Short version: some backends like some webdav servers do not provide a value for `getsize()` - so it is not always guaranteed that `len()` on the iterator is supposed to return a valid number which explains the traceback.

[code]

[2019-01-02 22:43] dataflake commented on #443
It looks like readthedocs.org supports user-defined redirects that fire when a 404 is encountered:

https://docs.readthedocs.io/en/latest/user-defined-redirects.html

So you could simply ``git mv`` the current ``docs/zope2book`` folder to a new name (dunno, maybe ``docs/zopebook``), make sure all other internal links in the ``docs`` contents are fixed, and then create a suitable redirect.

[2019-01-02 22:51] dataflake commented on #444
Zope 2.13 used it, but it's gone in Zope 4:

https://github.com/zopefoundation/Zope/blob/2.13/src/Zope2/Startup/handlers.py#L90

If the book is supposed to be relevant for both Zope 2 and 4 then just add a note that the feature is gone in Zope 4.

[2019-01-02 22:58] dataflake commented on #445
I cannot find any place where it is actually read, either, so the documentation is definitely wrong when it claims that the variable sets the debug mode. I suggest removing the documentation references.

[2019-01-07 10:09] zopyx opened #449 ""new" ZMI missing the former "View" tab"
The old ZMI provide a "View" tab for escaping the ZMI and returning to the default view of the current context object. This is missing in the new ZMI.

[2019-01-07 12:38] zopyx opened #450 ""Interfaces" tab gone?"
Is there a reason why the Interfaces tab was removed from the Zope 4  ZMI.

[2019-01-07 14:20] jugmac00 commented on #272
Just a quick update - with no consequences for this ticket:

pipenv is no longer recommended officially - or maybe never was.

cf
https://chriswarrick.com/blog/2018/07/17/pipenv-promises-a-lot-delivers-very-little/#officially-recommended-tool-or-how-we-got-here

[2019-01-07 14:39] zopyx opened #451 "manage_access UI in Zope 4"
![screenshot-dev zopyx de-20080-2019 01 07-15-37-17](https://user-images.githubusercontent.com/594239/50773894-67f2c780-1292-11e9-9d36-6bc0d1a3add7.png)

[2019-01-07 14:57] dataflake commented on #272
IMHO leaving the document in won't hurt anyone. Just make sure it doesn't make any claims that `pipenv` is in some way preferred.

Personally, I don't know anyone who uses it.

[2019-01-09 10:20] dwt opened #452 "Unmet dependency on Paste"
When installing the current master from source (via https://github.com/zopefoundation/Zope/blob/master/requirements-full.txt) , it doesn't come up, as it requires Paste to be installed - which isn't.

Stacktrace looks like this:
[code]

It looks a bit like PasteDeploy might be the culprit here that is missing a dependency, but since their tests are all green and an overview inspection of their rep

[2019-01-09 15:04] zopyx opened #453 "error_log in Zope4: list of "ignored exceptions" converted to bytes-per-line"
If you update the list of ignored exceptions in Zope 4 then they will show up after saving as bytes-per-line.

![screenshot-dev zopyx de 20080-2019-01-09-16-03-57](https://user-images.githubusercontent.com/594239/50907660-357ad300-1428-11e9-9c8c-9da904cd3425.png)

[2019-01-10 07:17] zopyx opened #454 "Tables in new ZMI/Zope 4 without inner borders"
Many tables (almost all tables) in the new ZMI are show without inner borders. This just looks like crap...hard to read, hard to use.
![screenshot-dev zopyx de-20080-2019 01 10-08-16-52](https://user-images.githubusercontent.com/594239/50952279-35beb100-14b0-11e9-9135-7ce073c14927.png)

[2019-01-11 07:11] icemac commented on #452
@dwt Thank you for your report.

Can you paste the steps to create a Zope instance where the exception happens?
What are the contents of your `bin/local_run_zope.sh` script?

I did the following and was not able to reproduce the exception:

[code]

Using the shown URL in a browser works, too.

[2019-01-11 07:13] icemac commented on #453
This should have been fixed in zopefoundation/Products.SiteErrorLog#14.
What version of Products.SiteErrorLog are you using?

[2019-01-11 07:18] icemac commented on #454
@zopyx wrote:

I don't think so. At least in your example screenshot I see enough white space to be able to visually assign the columns of one row. Even though this particular page was not yet converted to the Bootstrap HTML as noted on the last line.

[2019-01-17 07:18] icemac commented on #449
@zopyx I don't quite understand: On which content type is the "View" tab missing? At least DTML document still has one.

[2019-01-18 06:55] icemac commented on #450
I think it was part of Hanno's plan to eventually remove the ZMI completely. This plan was dropped but not every pice was restored yet.

I think the `Interfaces` tab can be helpful for some use cases but no one else has complaint yet. I'm not sure if there is a general need to resurrect it.

So, what is your use case for which you need the `Interfaces` tab?

[2019-01-18 06:58] icemac commented on #451
@zopyx Thank you for your suggestions, I think they are a good starting point to further improve this view.

[2019-01-18 08:16] djay commented on #450
I’ve certainly used it in the past to help debug why something might not be adapted. It’s can be quicker than looking at class definitions and there are ways to apply interfaces dynamically.

[2019-01-21 02:50] dataflake commented on #450
IMHO Hanno's plan to remove as much as possible from the ZMI was a mistake. If it's easy to just resurrect useful parts we should not hesitate to do it.

[2019-01-21 03:01] dataflake opened #457 "Please remove toplevel item "Show hide tree menu...""
At the top of the new ZMI there's a symbol for showing/hiding the left hand tree navigation pane. This would be useful if it did what it promised, but that only works in the Zope root. In other places you either lose the left-hand tree pane and cannot get it back at all (non-folderish objects) or in a subfolder you get back a tree pane rooted at that folder, and you can never get back to the full

[2019-01-21 03:19] dataflake commented on #450
P.S.: I looked at this quickly and it wouldn't be a big deal to just resurrect the part that just shows the provided interfaces.

The second part, the ability to actually assign additional marker interfaces, would be harder. I personally don't see much use in that, anyway.

[2019-01-21 03:21] dataflake commented on #449
@icemac Looks like it missing on the root and on containerish objects.

[2019-01-21 03:40] #437 closed

[2019-01-21 03:43] dataflake commented on #434
@icemac Not sure if you're aware of this, those project_urls will only get set on PyPI if you use twine for uploading the eggs. You cannot use the old setup.py ... upload anymore.

[2019-01-21 03:57] djay commented on #450
Now I remember what I used the assign additional marker interfaces for.
It’s very useful to set INavigationRoot. Means you don’t need any addition plugin to create a subsite in Plone.

[2019-01-22 02:11] dataflake commented on #451
Take a look at #456 for a possible solution

[2019-01-22 12:23] #449 closed

[2019-01-22 13:04] #451 closed

[2019-01-23 07:07] icemac commented on #434
@dataflake Thank you for this info which I was not aware of. As [our release documentation](https://zope.readthedocs.io/en/latest/maintenance.html#steps-for-creating-a-new-zope-release) suggests to use `zest.releaser` which uses `twine` for the uploads we should be on the save side.

[2019-01-24 07:15] #313 closed

[2019-01-24 07:55] #411 closed

[2019-01-25 07:16] icemac commented on #445
Even the function setting `Z_DEBUG_MODE` seems to be unused.
I found some other places where `Z_DEBUG_MODE` is referenced in the documentation. It seem that it was true some years ago but currently there is another way to enable the debug mode.

[2019-01-26 19:01] d-maurer opened #463 "Improved "Testing" support for Python 2/3 compatible doctests"
Working on [https://github.com/zopefoundation/five.formlib/pull/7](https://github.com/zopefoundation/five.formlib/pull/7), I noticed that it is quite difficult to write Python 2/3 compatible doctests.

I noticed the following problem areas:
- doctest checked unicode return values
- different input value types for `http` and `browser`
- necessity to have a correct "Content-Length" header for Python

[2019-01-26 21:54] ale-rt commented on #463
Hi @d-maurer, usually this is done defining a custom checker, look for "class Py23DocChecker". here some examples I found from a quick search but there are more:
- https://github.com/plone/plone.behavior/blob/master/plone/behavior/tests.py
- https://github.com/plone/plone.browserlayer/blob/master/plone/browserlayer/tests/test_doctest.py
- https://github.com/plone/plone.namedfile/blob/master/plone/

[2019-01-27 07:47] d-maurer commented on #463
@ale-rt Thank you for your comment!
Obviously, it addresses the first point ("doctest checked unicode values"). **If** Zope plans to support both Python 2 and 3 for some time, then it should contain such a `Py23DocChecker` - avoiding the need to reinvent something like this in many packages.

[2019-01-30 06:54] jordic opened #464 "WSGI and 2.13.28"
We can't still move to 4, but we want to deploy zope as wsgi, but we are hitting on some edge cases that makes the current implementation (on 2.13.28) not working:

1. After this change: https://github.com/zopefoundation/Zope/commit/9d0c6bf396fb45d58d6336e1c69f3487a763b0ae , you can't no longer commit a transaction inside a request (If we commit it, we loose the request (got closed throught the sy

[2019-01-30 20:05] dataflake commented on #464
All effort is concentrated on Zope 4, first of all. I am sure none of the "usual suspects" will even begin considering this request.

Secondly, such a large code change is unacceptable for any 2.13 release because it's way more than just bug fix.

My advice would be to spend your time on making your code work with Zope 4 instead.

[2019-01-31 07:03] #457 closed

[2019-01-31 07:05] icemac commented on #457
The button was fixed in #458 instead of removing it.

[2019-01-31 07:17] icemac commented on #464
We used the WSGI publisher of Zope 2.13.28 until December 2018 in the union.cms project. We did not have the issues you described.

1. I'd consider it a bad practice to commit the transaction inside the request. Maybe a `savepoint` is enough.

2. We transformed the HTTP-500 exceptions in a WSGI middleware the correct HTTP status codes.

As the union.cms project no longer uses Zope 2 I personally s

[2019-02-01 10:04] jordic commented on #464
So many thanks for the replys. We have a super old zope2 installation (lot's of sqlmethods, externalmethods... ), I know that the best path is to move to zope4 , but thouhgt it not will be so easy..
But anyways it's a step we will start working on. (Any advice on the path? How you have started moving?)

@icemac Agree with your point on commiting transactions, but our use case, is that at some poin

[2019-02-01 10:06] #464 closed

[2019-02-01 10:53] jugmac00 commented on #464
@jordic I totally feel you!

I inherited quite a big Zope project myself - like 4 years ago, and also, there is nobody with Zope experience in my company.

Additionally, the Zope project is not my only task at the company.

Well, after thinking how to move ahead, I did three things:
- move to a hoster, which is experienced with the Zope stack ( https://flyingcircus.io )
- take part at the Zope mig

[2019-02-02 04:01] dataflake commented on #413
ba72a30cf6332fc060e38e3e1849be407180b75a fixes the configuration setting, 40e5f99 was clearly faulty.

[2019-02-02 04:10] dataflake commented on #413
Yes, that makes a lot of sense. I'm guessing you're referring to https://github.com/zopefoundation/Zope/blob/ba72a30cf6332fc060e38e3e1849be407180b75a/src/ZPublisher/WSGIPublisher.py#L170 and just adding `ConflictError` to the condition, right?

[2019-02-02 04:17] dataflake commented on #413
Fixed in 4dc170079185e9cbc889efc691e6b40fe1533b59 - there was just a single place in the whole code base that referenced both error types at the same time.

[2019-02-02 18:45] dataflake commented on #406
Both `PrincipiaSearchSource` and `SearchableText` make no effort to coerce the return value to any specific kind of string, they just blindly return what they get e.g. after reading a file. The implementation in `OFS.File` will at least check a file's content type and only return anything if the major type is `text`.

There may be many implementations of both `PrincipiaSearchSource` and `Searchabl

[2019-02-02 18:51] dataflake commented on #401
@icemac I cannot reproduce that. Just tried with current Zope checkout that has everything at default values.

<img width="462" alt="screenshot" src="https://user-images.githubusercontent.com/1215784/52167957-2c101e00-26e9-11e9-9572-d9e127f13b56.png">

[2019-02-02 19:49] dataflake commented on #390
@dwt I cannot reproduce the issue on a recent checkout, and stepping through the code does not show any problems.

When I use `pdb` to look at the variables in the referenced code (see below) I see that `transaction.manager` is a `ThreadTransactionManager` that won't have the `_txn` attribute, but the code is looking at its `manager` attribute, which is a `TransactionManager` and has `_txn`.

http

[2019-02-02 20:59] dataflake commented on #382
The error originates in https://github.com/malthe/chameleon/blob/af889be0247e24c5df5574979c36bdf9e2ed4ba7/src/chameleon/zpt/template.py#L313:

[code]

The value for `hex` is computed in the super class `digest` method , which contains this snippet at https://github.com/malthe/chameleon/blob/af889be0247e24c5df5574979c36bdf9e2ed4ba7/src/chameleon/template.py#L257:

[code]

`self.filename` contains t

[2019-02-03 19:41] jugmac00 commented on #445
closed by #467

[2019-02-03 19:41] #445 closed

[2019-02-03 21:15] dataflake commented on #444
Makes sense. We could just retain the Zope 2 book separately.

[2019-02-04 08:04] #444 closed

[2019-02-04 08:13] jugmac00 commented on #444
@dataflake The contents for the Zope 2 book is and will be still available in the 2.13 branch ( and also via archive.org).

I have no experience with the readthedocs pipeline yet, but I read it would be as easy as tagging different branches to get different versions of the docs hosted.

I have to ask @icemac how and when documenation gets build - it does not seem to get done when new content gets

[2019-02-05 07:21] icemac commented on #444
The 2.13 and even 2.12 documentation is still on RTFD, see https://readthedocs.org/projects/zope/.
They are built on new commits on the branches.
Hm, this does not seem to be true for `master` as the last build was created a month ago.

[2019-02-06 07:13] icemac commented on #413
@dataflake wrote:
[…]

Yes, I think this should be enough.

[2019-02-06 12:25] #391 closed

[2019-02-07 03:49] dataflake commented on #413
https://github.com/zopefoundation/Zope/blob/ba72a30cf6332fc060e38e3e1849be407180b75a/src/ZPublisher/WSGIPublisher.py#L170

@icemac Maybe its too late and I am having a brain fart, but if an exception view for `Exception` is registered this condition will never be fulfilled (`exc_view_created` is True at that moment) and the type of exception is not even checked anymore. So the view will also swall

[2019-02-07 10:54] icemac commented on #390
I believe this issue was fixed in 950a7855119966d8b52fd04ef9fd4b07f2772c36. `setup.py` on `master` requires `transaction >= 2.4`.

[2019-02-07 10:54] #390 closed

[2019-02-07 11:18] icemac commented on #413
@dataflake You are right: creating `exec_view` currently prevents reraising of the exception.
Swallowing `Unauthorized` might be okay as the exception view might render a login page.

[2019-02-08 04:10] dataflake commented on #413
If you don't have the `time.sleep` centrally on the `HTTPRequest` every type of publisher would have to implement that delay itself when a conflict is encountered. With Python 2.7 we still have two publishers, WSGI and ZServer. A better moment to move that delay is when Python 2 support is discontinued and there's just one publisher left.

[2019-02-08 08:39] icemac opened #474 "HTTPRequest.supports_retry() sleeps when called."
* [HTTPRequest.supports_retry()](https://github.com/zopefoundation/Zope/blob/4b58ee3ba5e048aa20893e7f245086038e5f25bb/src/ZPublisher/HTTPRequest.py#L179) sleeps when called.

I'd not expect that a method called `supports_retry` does the actual sleeping. It is called three times when a `ConflictError` happens.

My naive expectation would have been that there is a method for checking and one for doi

[2019-02-08 08:40] icemac commented on #413
Regarding [HTTPRequest.supports_retry()](https://github.com/zopefoundation/Zope/blob/4b58ee3ba5e048aa20893e7f245086038e5f25bb/src/ZPublisher/HTTPRequest.py#L179): My naive expectation would have been that there is a method for checking and one for doing the actual wait. @dataflake You are right we can postpone this to Zope 5. I have created #474 for this issue.

[2019-02-08 10:23] icemac opened #475 "Drop Python 2.6 support for Zope 2.13"
Python 2.6 is a maintenance burden for supporting Zope 2.13.

Plone recently has dropped support for Python 2.6 on Plone 4.3, see plone/Products.CMFPlone#2475
Plone 5.0 has never supported Python 2.6.

This could the the chance to drop Python 2.6 support in Zope 2.13, too.

Any thoughts?

[2019-02-08 12:16] jugmac00 commented on #475
I guess this heavily depends on what our future stance will be once Zope 4 is released.

Will there be bug fixes or security related fixes for Zope 2? Or will our statement be "fixes only in Zope 4"?

EOL of Python 2.7 is coming soon, too - which will make Zope 2 kind of EOL.

I am curious. Given there will be very little changes to the 2.13 branch...
What is the net benefit when we drop Python 2.

[2019-02-08 12:40] dataflake commented on #475
As Jürgen says, does it really matter? How big is this burden really when you consider how little maintenance any of us are doing on the 2.13 branch?

In the commit history I see a dozen commits last November in response to 3 or 4 issues, and no activity afterwards. Before that, the last commit was in April 2018 for one issue and then a release.

If the pace of change is disregarded I'd be +1 on i

[2019-02-08 12:48] dataflake commented on #475
P.S: I read though that Plone PLIP and I like the way they are doing it. There's no active removal of Python 2.6-specific code, it's just not being tested on 2.6 anymore.

[2019-02-08 14:07] icemac opened #478 "Delete code marked with `BBB Zope 5.0`"
There are some `# BBB Zope 5.0` marks in the code. Sometimes only `Zope 5.0` is mentioned.

[2019-02-08 14:12] dataflake commented on #478
I'm really looking forward to this one where we can drop those endless special casing for Python 2 string handling.

[2019-02-08 14:29] icemac commented on #475
@dataflake That's what I'd suggest, too: No longer run the tests for Python 2.6. It has bitten me several times when writing tests for Zope 2.13 they broke on Python 2.6 because I am used to the new `unittest2` assert methods which do not yet exist in Python 2.6.

[2019-02-08 14:31] icemac commented on #475
@jugmac00 Zope 2.13 is already mostly in fixing mode only. New features are only added on popular demand.
As long as Plone supports a Plone version built on Zope 2 there will be at least security fixes for Zope 2.

[2019-02-08 14:46] dataflake commented on #475
OK, given the clarified scope of the deprecation I'm +1

[2019-02-08 14:53] dataflake commented on #475
P.S.: Besides, we can talk all day about that detail, but in the end it's been you who has spent the time to make the releases, and thanks for that. Your word has more weight on this issue.

[2019-02-08 16:00] icemac commented on #475
Fixed by #480.

[2019-02-08 16:00] #475 closed

[2019-02-09 02:19] dataflake commented on #453
I'm going to close this as Invalid because

- the issue does not belong here, it belongs into `Products.SiteErrorLog`
- it has already been fixed there as @icemac said, which I just confirmed myself in a Zope 4 buildout under both Python 2 and Python 3

If Plone does still pin to a version <5.1 please take it up with them.

[2019-02-09 02:19] #453 closed

[2019-02-09 02:21] dataflake commented on #452
@icemac I recommend closing this as invalid. No one else has seen this issue and @dwt is not providing any more information.

[2019-02-09 02:35] dataflake commented on #450
Here's the specific commit: c4c1b4acf51b9d6f2b699801373d750b50e74673

That's a whole bunch of stuff to resurrect. I'm not sure about it.

[2019-02-09 02:37] dataflake commented on #447
@zopyx Have you looked at the suggestion from the previous comment or did you solve it some other way? Just wondering if this needs to stay open.

[2019-02-09 02:43] dataflake commented on #438
I have a feeling that's a leftover from when `ZServer` was extricated from Zope itself.

I'd leave the code but remove the documentation.

[2019-02-09 03:43] dataflake commented on #435
The `redirect` call does not seem to be the issue. It's how paths are handled in the WSGI publisher.

The combination of 6c15c7148c83db108c72043fb065b06bfbcf076a by @sallner and 707df7360b8b77286db0caa111dab28c3b2eb5e1 by @icemac ends up with a strange mixture. Under Python 3, it takes a unicode value, encodes it into latin1, and immediately decodes it using UTF-8. I think we can all agree that ca

[2019-02-09 04:19] dataflake commented on #291
@icemac I mistakenly checked the fix directly into `master` in 97e7ea9c19315b311c9996d2dbc27398dba9226e, apologies. Since it's not affecting any existing Zope instances and only changes the creation of new WSGI instances I think it's OK.

Please close once you have taken a look. I tested it manually by creating a new instance and then visiting a few page templates. The cache files showed up as exp

[2019-02-09 04:27] dataflake commented on #192
Removing the "bug" tag - my bug report here is outdated. It all works now.

[2019-02-09 04:44] dataflake commented on #238
That doesn't look too hackish. I'll put it on my list. When #473 is merged it will be "safe" again to register a blanket catch-all error view.

[2019-02-09 08:47] #413 closed

[2019-02-09 09:02] icemac commented on #452
Closing as invalid as @dataflake suggested: It cannot be reproduced and there was no feedback from @dwt. Please reopen if the issue still persists and you have new details about it.

[2019-02-09 09:30] icemac commented on #438
I think even the function can be removed, the HTTP realm is now set like this:

https://github.com/zopefoundation/Zope/blob/47c71380812912b77639d32a7eb5fd7958a96c5a/src/Zope2/Startup/starter.py#L76-L77

and ZServer has its own (unused) version of `http_realm()`:

https://github.com/zopefoundation/ZServer/blob/110bdf04e08dbb01e868534e950e557e0d749a41/src/ZServer/Zope2/Startup/handlers.py#L73-L75

[2019-02-09 09:49] icemac opened #481 "Specify supported Python versions using python_requires in setup.py"
This allows to drop support for older python versions (especially 2.7) and preventing users from getting a package version which is not compatible with their Python version.

See https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires

This should also be done for all packages Zope depends on.

[2019-02-09 09:55] icemac commented on #291
@dataflake Thank you for fixing this issue. Your code change looks good to me.

[2019-02-09 09:55] #291 closed

[2019-02-09 10:23] icemac opened #482 "ZMI: Broken copyright link"
There is a link called "© Zope Foundation" in the left panel, it points to http://localhost:8080/manage_copyright which does not (no longer?) exist:

<img width="572" alt="broken link" src="https://user-images.githubusercontent.com/386619/52519546-d1347480-2c5c-11e9-9c24-2768dc8b9046.png">

Where should this link point to?
To http://www.zope.org/en/latest/foundation.html?

[2019-02-09 15:46] dataflake commented on #482
The old `manage_copyright` shows the text of the ZPL and that Zope is copyrighted to the Zope Foundation. Underneath it showed an outdated Python license, and a super-outdated list of contributors.

Since the Zope Foundation is dead and I haven't heard anything back from the Plone Foundation about their process of taking over there is no page to point that link to that is guaranteed to stay. I wou

[2019-02-09 20:02] icemac opened #485 "Read the docs no longer gets updated"
https://zope.readthedocs.io/ no longer gets updated.

I think this is because GitHub Services – wich we are using to inform RTD about change are deprecated. The last built on RTD was more than one month ago.

Please either fix the GitHub integration on the RTD side or add me (`icemac`) to the Zope maintainers on RTD: https://readthedocs.org/projects/zope/

[2019-02-10 13:59] jugmac00 commented on #485
I would also appreciate a small documentation how the build process works.

[2019-02-10 15:31] hannosch commented on #485
Hey, I've added icemac as an admin to the Zope readthedocs project. I've also done a manual build of the docs, which did succeed.

Afterwards I've followed the docs at https://docs.readthedocs.io/en/stable/webhooks.html and created an "incoming Github web hook" on the readthedocs side and created the matching outgoing webhook on the Github project.

I think this should the all that was required.

[2019-02-10 16:33] #438 closed

[2019-02-10 21:44] jugmac00 commented on #485
Works like a charm!

[2019-02-11 04:17] dataflake commented on #381
This is fixed by #466

[2019-02-11 05:30] dataflake opened #489 "Bootstrap text editor great for everything else but hard to use for DTML"
The text editor that's displayed for the bootstrap-enabled ZMI is great for Python scripts and page templates. But it makes editing DTML documents and methods painful because it insists on well-formed content. DTML does not (and will never) conform to well-formed XML.

Is there a way to pass some kind of flag to the editor to stop forcibly suggesting closing tags when working with DTML and to stop

[2019-02-11 09:07] d-maurer opened #490 "ZMI-add does not recognize absolute urls"
The ZMI add modal dialogue does not recognize absolute urls in the form action and puts the base url before them.

I observe this behaviour with Plone 5.2a1 (which embeds Zope 4.0b8): creating a Plone site opens the dialogue via `http://localhost:8180/manage_addProduct/CMFPlone/zmi_constructor?zmi_dialog=modal`; this redirects to `http://localhost:8180/@@plone-addsite?site_id=Plone`; this returns

[2019-02-11 11:18] jugmac00 opened #491 "Missing error handling in ZMI when viewing invalid dtml"
Reproduce:
- create new DTML file in ZMI
- enter some invalid DTML like the dtml-in mySequence example from here https://docs.zope.org/zope2/zope2book/DTML.html#dtml-tag-syntax
- save
- hit view button

**Output:**
Internal Server Error
The server encountered an unexpected internal server error
(generated by waitress)

**Traceback**
`2019-02-11 12:15:33 - ERROR [waitress] Exception when serving /d

[2019-02-11 11:43] jugmac00 commented on #489
After a quick glance I think there are several hook points where to interfere.

The easiest one would be probably too "brutal" - ie deleting the data-contenttype attribute in
https://github.com/zopefoundation/Zope/blob/352db3b3378b00820cfa1d3340697e83bee8a574/src/OFS/dtml/documentEdit.dtml#L24
=> ace does not get loaded then.

One could also set a custom data-contenttype  - currently "HTML" is set

[2019-02-11 14:15] jugmac00 opened #492 "Missing error handling in ZMI "File edit view""
**Reproduce**
- add a new file via ZMI but do not upload a file
- edit this file
- on edit view hit the button "Upload File" without choosing a file

`Internal Server Error

The server encountered an unexpected internal server error

(generated by waitress)`

Traceback:
`2019-02-11 15:14:57 - ERROR [waitress] Exception when serving /y
Traceback (most recent call last):
  File "/home/jugmac00/Proje

[2019-02-11 14:17] jugmac00 opened #493 "Missing error handling in ZMI when creating a new file with existing name"
- in ZMI create a new file with ID "x"
- in ZMI create a new file with ID "x" again

[2019-02-11 21:40] #485 closed

[2019-02-12 07:10] icemac commented on #485
@hannosch Thanks a lot!

[2019-02-12 12:24] #381 closed

[2019-02-12 12:24] #401 closed

[2019-02-13 00:51] dataflake commented on #491
Yes, this has nothing to do with the ZMI.

https://github.com/zopefoundation/Zope/pull/495 will make this a little less painful for those who are upgrading and still have a `standard_error_message` in place. Other than that you have to register exception views to get something nicer.

[2019-02-13 03:01] dataflake commented on #489
Fixed by #496

[2019-02-13 03:01] #489 closed

[2019-02-13 03:12] dataflake commented on #493
It's always been standard Zope behavior to show this very clear and obvious error message when trying to add an object with an id to a container that already has an object with the same id. Yes, it doesn't look very user friendly, but at least it's easy to understand what happened and the browser's back button will get you back to the add form.

Trying to fix it here would introduce a glaring inco

[2019-02-13 03:12] #493 closed

[2019-02-13 09:12] d-maurer opened #498 "Py3: "OFS.SimpleItem.Item" does not implement "OFS.interfaces.IItem""
`OFS.interfaces.IItem` still defines `__name__` and `title` as `BytesLine` fields whereas `OFS.SimpleItem.Item` gives then native string values (at least at the class level).

I suggest to change the field type in the interface definition to `NativeStringLine`.

[2019-02-13 09:38] d-maurer opened #499 "Should "/" really be allowed in ids?"
Currently, `OFS.ObjectManager.bad_id` allows `"/"` in ids.
This makes path construction and traversal (both URL as well as normal traversal) more fragile as it requires handling of escaped slashes in the (URL) path components.

Is `"/"` allowed by purpose (or has it slipped in)? Do URL construction and traversal correctly handle slash in ids? How should embedded slashes be handled when constructin

[2019-02-13 21:30] jugmac00 commented on #493
Thanks for the history lesson :-)

[2019-02-13 21:42] #492 closed

[2019-02-14 01:00] #498 closed

[2019-02-14 01:29] dataflake commented on #499
While is is correct that the `bad_id` regex search does not handle all bad characters, the `checkValidId` method does. The `bad_id` regex is just one of several checks on new IDs.

https://github.com/zopefoundation/Zope/blob/33c01b6810c70085dd65b5193638b3a9add1496b/src/OFS/ObjectManager.py#L144-L146

[2019-02-14 01:52] dataflake commented on #490
@drfho Could you add a check in the `addItem` function in `zmi_base.js` that checks if the `url_action` variable contains a fully-formed URL?

I'm thinking the best behavior would be to leave the modal and go directly to the passed-in `url_action`.

[2019-02-14 01:56] dataflake commented on #463
A personal observation: among those people who are currently maintaining Zope: I see no one writing doctests, no enthusiasm for doctests and thus no enthusiasm for improving doctest support in Zope itself.

[2019-02-14 07:18] d-maurer commented on #499
@dataflake Would you mind to handle the `"/"` case in `bad_id` rather than `checkValidId`: it would be perfect there, even the error message is identical?

It would be even better, if there were a check function which checks all context independent conditions (i.e. all with the exception of the "does not already exists" condition) for ids. My motivation: the upcoming `dm.zope.schema` release with

[2019-02-14 12:21] dataflake commented on #499
If this is really important to you I suggest you do it and create a pull request.

[2019-02-14 12:38] drfho commented on #490
HI @dataflake, i added a corresponding pull request: https://github.com/zopefoundation/Zope/commit/e8130c34a7c6207d06545eb073569071bb30762e

[2019-02-14 13:22] dataflake commented on #490
@d-maurer Dieter could you please check with the changes in the pull request and let me know? I don't have any Plone sandbox here to test.

[2019-02-14 15:16] pbauer commented on #490
The PR does not seem to fix the issue. The URL I end up in is http://localhost:8080/manage_addProduct/CMFPlone/http://localhost:8080/@@plone-addsite

It is a bad idea to use a popup for `@@plone-addsite` because UX suffers and the javascript in it (to guess the local timezone) does not work. https://github.com/plone/Products.CMFPlone/pull/2727 adresses the issue differently.

[2019-02-14 21:47] drfho commented on #490
Hello @pbauer, @d-maurer ,
I revised the JS function to avoid modal dialogs for Plone:
https://github.com/zopefoundation/Zope/pull/501/commits/1e53b03105cba82b63750274b70dbef722c631c6

@dataflake Contrary to my (/our?) expectation, the manage_addProduct-urls of Plone objects are generated just like all the others. So the  the former approch via absolute urls actually does not work. I removed it ag

[2019-02-14 23:40] d-maurer commented on #490
drfho wrote at 2019-2-14 13:47 -0800:

Independent of the "modal/non modal" question is it wrong
to prepend the base url before an absolute url.
It is primarily this I would like to get fixed.

I created my Plone environment following "https://docs.plone.org/develop/coredev/docs/intro.html#setting-up-your-development-environment" --
using "master" instead of the 5.1 branch.
After the instance is c

[2019-02-15 01:03] drfho commented on #490
@d-maurer
okay, my misunderstanding: the absolute URL can occur in the action-attr of the inserting form (not the addItem-form in the navbar). Now I added the isURL() check avoiding aggregating the form-action attribute if it contains already an absolute URL:
https://github.com/zopefoundation/Zope/pull/501/commits/8d80e2697a14d2d04eb4466eec78c8ef97d5ca5a

Thanks for plone install hint.

[2019-02-15 02:12] dataflake commented on #132
If you have a Zope instance built, e.g. via `zc.buildout`, you can re-use the start/stop script it creates for running code in Zope, like for example `bin/zopectl run /path/to/my/script.py`. Inside the script you have a top-level variable named `app` that represents the root of the Zope site.

[2019-02-15 07:10] d-maurer commented on #490
drfho wrote at 2019-2-14 17:03 -0800:

@drfho
Thank you! I will check whether this solves my Plone problem (likely it will).

However, it may take some time. I currently face another
"ZMI-add" problem which I would like to understand before I do
other things: interface based meta type registrations seem not to be shown
in the "ZMI-add list" even though "filtered_meta_types" produce them
correctly.

[2019-02-15 07:24] pbauer commented on #490
@drfho the branch issue_490 fixes the issue for me. Thanks.

[2019-02-15 08:15] d-maurer opened #505 ""App:dtml/manage_navbar.dtml": improper handling of single addable meta type"
`manage_navbar.dtml` contains
[code]
Obviously,  no add type to select is shown, if `filtered_meta_types` returns a sequence with just one element. Upfront logic make the element inactive in this case.

Zope 2 handled the case "len(filtered_meta_types) == 1" specially by replacing the "select type to add" directly by an "add XXXX" control in this case. While this is nice, the case is sufficiently

[2019-02-15 08:42] d-maurer opened #506 ""zmi/styles/resources/zmi_base.js" allows adding content objects only if there is a "manage_findForm" action"
I have difficulties to understand the associated comment (in `zmi_base.js`) `[1] Showing some Menu Elements only on List Page as Active`: how is the notion "List Page" related to a "manage_findForm" action?

[2019-02-15 08:46] #132 closed

[2019-02-15 08:47] jordic commented on #132
I just discovered this later...
(I landed at zope wolrd, just one year and half ago... :/)

[2019-02-15 10:08] d-maurer commented on #490
drfho wrote at 2019-2-14 17:03 -0800:

I do not think, the "isURL" function is already correct.

In my local environment, I am using urls of the form "http://lsdm:8080/...".
According to RFC 3986 ("https://tools.ietf.org/html/rfc3986"),
they are perfect absolute urls but the "isUrl" function does not recognize
them.

Appendix B ("https://tools.ietf.org/html/rfc3986#appendix-B")
presents a (POSIX!)

[2019-02-15 11:52] drfho commented on #490
@d-maurer
thank you, every correction/checkin is very welcome.
you are rigtht,  instead 'localhost' something like '.*?' would be more adequate!?

TEST
`/^(?:\w+:)?\/\/([^\s\.]+\.\S{2}|.*?[\:?\d]*)\S*$/.test('myscheme://lsdm:8080/mysite/@@plone')`
==> true

Ref:
https://github.com/zopefoundation/Zope/pull/501/files#diff-a2c5c94dd7e2821eda76f068fc4d4157R7

[2019-02-15 12:25] dataflake commented on #506
The author uses that as a way of guessing if the context is an object manager because those can have items added for example.

[2019-02-15 12:26] #216 closed

[2019-02-15 17:30] d-maurer commented on #506
Jens Vagelpohl wrote at 2019-2-15 12:25 +0000:

I suggest to use a non-empty options list for "#addItemSelect" (fed
by the current context's "filtered_meta_types"), instead.
This allows the current context to indicate whether or not it has
something to add.

It might be necessary to prevent acquisition
in some way for the construction of this options list --
maybe inside "filtered_meta_types" for

[2019-02-16 16:14] #210 closed

[2019-02-17 02:08] dataflake commented on #478
By the way, I am thinking one good way to spot code that will be dropped in Zope 5 is any place where `six` is used. That will uncover all special handling with conditions that use `PY2` or `PY3` and any compatibility imports. In the end `six` should be removed entirely as a dependency.

[2019-02-17 02:12] #505 closed

[2019-02-17 02:12] #506 closed

[2019-02-17 02:23] dataflake commented on #365
@tseaver @zopyx @ctheune  I have assigned you here because you have administrator-level access to that Launchpad issue tracker and/or the project as a whole. Could you find out if there's a way to "freeze" or disable that issue tracker and either make it redirect to `https://github.com/zopefoundation/Zope/issues` or put a prominent note on it so people know where to go?

Thanks!

[2019-02-17 02:28] dataflake commented on #490
@d-maurer Could you test the latest state of the `issue_490` branch and let me know is that works for you?

[2019-02-17 03:52] #244 closed

[2019-02-17 03:53] dataflake commented on #244
I've removed it now. It seems that script never worked at all. It's supposed to commit and push its changes to the `gh_pages` branch when done, but the commit history shows nothing coming from the script, ever.

[2019-02-17 12:36] viktordick opened #510 "Zope no longer handles string:$$ correctly"
I'm not sure if this is the correct place to post this. It seems that the bug should be in `zope.tales`, but with that package alone I was not able to reprocude it. I still posted it there also (https://github.com/zopefoundation/zope.tales/issues/14).
The problem is that with Zope4, the Page Template

    <div tal:content="string:Test$$"></div>

renders to give me

    <div>Test$$</div>

Instead o

[2019-02-17 13:31] viktordick commented on #510
All right, I guess I was on the wrong track to look into zope.tales. When parsing Page Templates, Zope now uses chameleon.tales instead. And with that I can reproduce the issue (`$$test` is correctly parsed to give `$test`, while `test$$` stays `test$`). I will post an issue for chameleon.tales, but I guess I should keep this open, because in my opinion it is a critical issue for Zope that should

[2019-02-17 16:33] #510 closed

[2019-02-17 16:51] dataflake commented on #382
I have opened malthe/chameleon#284 for @malthe and hope he will take a look at it. This is a blocker for us.

[2019-02-17 17:24] dataflake commented on #382
Malthe fixed this in malthe/chameleon@77f00e48a9f7fca14f9233a2e0777562cbdff50d. Thank you for the quick help @malthe! I'll keep this open until the next Chameleon release and will pin to it.

[2019-02-17 22:07] dataflake commented on #481
- [x] Zope via 11321e422801361f52b1bfa885f457567fddbe67
- [x] Products.BTreeFolder2 via zopefoundation/Products.BTreeFolder2@c839bbfbfa7a6a000f4e6debb4f42757fb546be4 (and then fixed up its version support in zopefoundation/Products.BTreeFolder2@c0d348149d52185b184c60b51e37d938a72e13bb)
- [x] Products.MailHost via zopefoundation/Products.MailHost@b9d50a4a23f75e29eeea7093ad0db11ae7079438 (includes a

[2019-02-18 07:58] d-maurer commented on #490
@pbauer has already checked that the change works for Plone. I have checked that it works (for Plone) also in my test scenario (with an url of the form `//lsdm:8080`).

Nevertheless, I have two (small) reservations:
1. when I understand the JS regular expression used in `isURL` correctly, then it is functionally equivalent to `^(?:\w+:)?\/\/\S*$`, i.e. the re could be significantly simplified. The

[2019-02-18 08:09] zopyx commented on #365
I am actually not member of the LP team
<img width="577" alt="screenshot 2019-02-18 09 08 32" src="https://user-images.githubusercontent.com/594239/52936582-d8463b80-335c-11e9-8b96-ac1bc542baa3.png">

[2019-02-18 10:30] drfho commented on #490
HI @d-maurer
you are right, the former regexp was derived from a variant which assumes 'localhost' vs a valid domain name. Your reduced regexp should work practically, al teast my user tests were successful.
@dataflake
I changed the proposal in pull request #501
https://github.com/zopefoundation/Zope/pull/501/commits/a607694c53861447a56151e68ab31f11a7d5b463

[2019-02-18 12:15] dataflake commented on #365
@zopyx you have Administrator role in the "Zope Developers" group who are "Bug Supervisors" on that issue tracker: https://launchpad.net/~zope2-dev/+members#active. I guessed that gave you some kind of admin-level control over it.

[2019-02-18 12:20] #490 closed

[2019-02-18 12:24] zopyx commented on #365
I can only remove the team  or ask the LP admins for removal of the complete project. I don't see any particular option for nailing down the issue tracker to readonly.